<%let liked=false%>
<% activityDetails.likes.forEach(function(regNumber) { %>
  <%if(regNumber==user.regNumber){%>
    <% liked=true %>
  <%}%>
<%})%>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-10 pt-1" style="padding: 0px;" >
    <div style="display: flex;flex-wrap: wrap;">
      <div class="col-lg-9" >
        <div class="mb-2">
          <div class="item-container" >

            <!-- video will be contain here -->
            <iframe class="activityVideoContainer" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
            <!-- ################################### -->
            
            <div style="display: flex;margin-bottom: 5px; border-bottom: 1px solid rgb(126, 124, 124);">
              <div class="text-center">
                <img class="activity-avatar-small" src="/images/group.jpg" alt="">
              </div>
              <div class="post-header" style="width: 100%;display: flex;">
                <div class="mr-auto" style="padding-left: 5px;">
                  <div style="margin: 0;padding: 0;">
                    <a href="#"><strong>
                      <span class="text-capitalize"><%=activityDetails.activityType%></span>  
                      | <%=activityDetails.sourceName%> 
                      <%if(activityDetails.activityType=="batch"){%>
                        (20<%=activityDetails.activitySourceId.slice(0,2)%>-20<%=activityDetails.activitySourceId.slice(2,4)%>)
                      <%}%>
                       | 
                      <i><span>Published on <%= activityDetails.activityDates.publishedDate.getDate() %>/<%= activityDetails.activityDates.publishedDate.getMonth() + 1 %>/<%= activityDetails.activityDates.publishedDate.getFullYear() %></span></i></strong>
                    </a>
                  </div>
                  <div style="margin: 0;padding: 0;">
                    <h5 class="bolder">
                      <%=activityDetails.title%> | <%=activityDetails.topic%>
                    </h5>
                  </div>
                </div>
                <div class="float-right">    
                  <strong type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-ellipsis-h"></i></strong>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%if(checkData.isUserLoggedIn){%>
                      <form action="/sent-report" method="post">
                        <input type="hidden" name="type" value="activity">
                        <input type="hidden" name="subType" value="fakeActivity">
                        <input type="hidden" name="reportingId" value="<%=activityDetails._id%>">
                        <button class="btn btn-sm btn-info btn-block">Fake activity?Report!</button>
                      </form>
                    <%}else{%>
                      <strong class="bolder">For logged in users</strong>
                    <%}%>
                  </div>
                </div>
              </div>
            </div>

            <div style="display: flex;">
              <div class="text-left <%= liked ? 'text-primary' : '' %>" style="width: 50%;">
                <i class="far fa-thumbs-up"></i><span> <%= activityDetails.likes.length %> <%= activityDetails.likes.length>1 ? 'Likes' : 'Like' %></span>
              </div>
              <div class="text-right" style="width: 50%;">
                <span><%= activityDetails.comments.length %> <%= activityDetails.comments.length>1  ? 'Comments' : 'Comment'%></span> 
              </div>
            </div>
                <div style="display: flex;margin-bottom: 5px; border-top: 1px solid rgb(126, 124, 124);border-bottom: 1px solid rgb(126, 124, 124);">
                  <div class="text-center" style="width: 50%;">
                    <%  if(liked){%> 
                      <form class="inlineContainer" action="/activity/<%=activityDetails._id%>/dislike" method="POST">
                        <button class="btn  btn-block text-primary" style="border: 0px;background: #fff;" type="submit">
                            <i class="far fa-thumbs-up"></i> Liked
                        </button>
                      </form>
                    <%}else{%> 
                      <form class="inlineContainer" action="/activity/<%=activityDetails._id%>/like" method="POST">
                        <button class="btn  btn-block " style="border: 0px;background: #fff;" type="submit">
                            <i class="far fa-thumbs-up"></i> Like 
                        </button>
                      </form>
                    <%}%>
                  </div>
                  <div class="text-center" style="width: 50%;">
                    <button class="btn  btn-block" style="border: 0px;background: #fff;" type="button" data-toggle="collapse" data-target="#collapse<%= activityDetails._id %>" aria-expanded="false" aria-controls="collapseExample">
                      <i class="far fa-comment-alt"></i> <%= activityDetails.comments.length>1  ? 'Comments' : 'Comment'%>
                    </button>
                  </div>
                </div>
                <div class="collapse" id="collapse<%= activityDetails._id %>">
                  <div class="card card-body">
                    <p class="inlineContainer">  
                      <%if( activityDetails.comments.length==0){%>
                        <div class="text-muted small list-group-item">
                          <p class="btmMarginZero bolderFont">No one comment on this post till now , be the first one.</p>
                        </div>
                      <%}%>                         
                        <!-- comments loop will be here -->
                        <% activityDetails.comments.forEach(function(comment,index) { %>
                          <div class="text-muted small list-group-item">
                            <div style="display: flex;">
                              <div class="mr-auto">
                                <a href="/student/<%=comment.regNumber%>/profile">
                                  <img class="avatar-tiny" src="/image/profile/small/profile-<%=comment.regNumber%>">
                                  <strong><a href="/student/<%=comment.regNumber%>/profile"> <%=comment.userName %></a> </strong>
                                </a>
                              </div>
                              <div >    
                                <strong type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-ellipsis-h"></i></strong>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <%if(checkData.isUserLoggedIn){%>
                                    <form action="/sent-report" method="post">
                                      <input type="hidden" name="type" value="activity">
                                      <input type="hidden" name="subType" value="badComment">
                                      <input type="hidden" name="commentIndex" value="<%=index%>">
                                      <input type="hidden" name="reportingId" value="<%=activityDetails._id%>">
                                      <button class="btn btn-sm btn-info  btn-block">Bad Comment?Report!</button>
                                    </form>
                                  <%}else{%>
                                    <strong class="bolder">For logged in users!</strong>
                                  <%}%>
                                </div>
                              </div>
                            </div>
                              
                            <div>
                              <i>On <%= comment.createdDate.getDate() %> <%=comment.createdDate.toLocaleString('default', { month: 'long' }) %> , <%= comment.createdDate.getFullYear() %> at <%=comment.createdDate.getHours()%>:<%=comment.createdDate.getMinutes()%> </i>
                            </div>  
                            <p class="btmMarginZero textJustifyAlign" ><strong class="bolder"> Comment : </strong> <%= comment.comment %></p>                                           
                          </div> 
                        <% }) %>                                      
                        <!-- close -->
                    </p>
                  </div>
                </div>

            <!-- comment section -->
              <div style="display: flex;">
                <div class="text-center">
                  <img class="avatar-small" style="top:1px ;margin-left: 0rem;margin-right: 2px;" src="/image/profile/small/profile-<%=user.regNumber%>" alt="">
                </div>
                <div class="post-form-container" style="padding: 4px;">
                  <form action="/activity/<%= activityDetails._id %>/comment" method="post" style="display: flex;">
                    <input type="text" name="comment" class="post-input-field" placeholder="Write your comment here." required autocomplete="off">
                    <button class="post-button" type="submit" style="background-color: #f0f2f5;">Comment</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
        <hr>
      </div>
    
      <div class="col-lg-3" >
        <div class="item-container mb-2">
          <h6><strong>Other Platforms</strong></h6>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          <%if(activityDetails.videoLinks.facebook || activityDetails.videoLinks.instagram || activityDetails.videoLinks.linkedIn){%>
            <%if(activityDetails.videoLinks.facebook){%>
                <div class="btn btn-outline-info btn-block btn-sm pb-2">
                  <a  href="<%=activityDetails.videoLinks.facebook%>">Activity On Facebook</a>
                </div>
            <%}%>
            <%if(activityDetails.videoLinks.instagram){%>
                <div class="btn btn-outline-info btn-block btn-sm pb-2">
                  <a href="<%=activityDetails.videoLinks.instagram%>">
                    Activity On Instagram
                  </a>
                </div>
            <%}%>
            <%if(activityDetails.videoLinks.linkedIn){%>
                <div class="btn btn-outline-info btn-block btn-sm pb-2">
                  <a href="<%=activityDetails.videoLinks.linkedIn%>">
                    Activity On LinkedIn
                  </a>
                </div>
            <%}%>
          <%}else{%>
            <div class="btn btn-info btn-block btn-sm pb-2">No Available</div>
          <%}%>
          
        </div>
        <div class="item-container">
          <h6><strong>All  Participants (<%=activityDetails.participants.length%>)</strong></h6>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
            <%activityDetails.participants.forEach((participant,index)=>{%>
              <div class="student-room-container" style="display: flex;align-items: center;">
                <div class="mr-auto">
                  <a href="/student/<%=participant.regNumber%>/profile">
                    <img class="avatar-small"  src="/image/profile/small/profile-<%=participant.regNumber%>" alt="">
                    <strong class="ml-1"><%=participant.userName%></strong>
                  </a>
                </div>
                <div >    
                  <strong type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-ellipsis-h"></i></strong>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%if(checkData.isUserLoggedIn && checkData.isActivityMember){%>
                      <form action="/sent-report" method="post">
                        <input type="hidden" name="type" value="activity">
                        <input type="hidden" name="subType" value="notParticipant">
                        <input type="hidden" name="participantIndex" value="<%=index%>">
                        <input type="hidden" name="reportingId" value="<%=activityDetails._id%>">
                        <button class="btn btn-sm btn-info  btn-block">Not Participant?Report!</button>
                      </form>
                    <%}else{%>
                      <strong class="bolder">For logged in users!</strong>
                    <%}%>
                  </div>
                </div>
              </div>
            <%})%>    
        </div>
      </div>
      </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>


<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>

  <div class="col-lg-10 pt-1" style="padding: 0px;" >
    <div style="display: flex;flex-wrap: wrap;">
      <div class="col-lg-9" >
        <!-- start -->
        <div class="item-container mb-2">
          <h5><strong>Activity Details</strong></h5>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          <p><strong>Topic : </strong><%=activityDetails.topic%> 
            <%if(activityDetails.isTopicByVote){%>
              <strong class="text-warning"><a href="/topic-voting/<%=activityDetails.votingId%>/details">(By Voting)</a> </strong> 
            <%}else{%>
              <strong class="text-warning">(By Leader)</strong> 
            <%}%> 
          </p>
          <p><strong>From : </strong><a href="/<%=activityDetails.activityType%>/<%=activityDetails.activitySourceId%>/details"><strong class="text-capitalize"><%=activityDetails.activityType%></strong></a></p>
          <p><strong>Department Name : </strong><%=activityDetails.sourceName%></p>
          <p><strong>Created Date : </strong><%= activityDetails.activityDates.createdDate.getDate() %> <%=activityDetails.activityDates.createdDate.toLocaleString('default', { month: 'long' })%> <%= activityDetails.activityDates.createdDate.getFullYear() %></p>
          <%if(activityDetails.isTopicByVote){%>
            <p><strong>Topic Voting Date : </strong><%= activityDetails.activityDates.votingResultDate.getDate() %> <%=activityDetails.activityDates.votingResultDate.toLocaleString('default', { month: 'long' })%> <%= activityDetails.activityDates.votingResultDate.getFullYear() %></p>
          <%}%>
          <p><strong>Activity Date : </strong><%= activityDetails.activityDates.activityDate.getDate() %> <%=activityDetails.activityDates.activityDate.toLocaleString('default', { month: 'long' })%> <%= activityDetails.activityDates.activityDate.getFullYear() %></p>
          <p><strong>Activity Submission Date : </strong><%= activityDetails.activityDates.submissionDate.getDate() %> <%=activityDetails.activityDates.submissionDate.toLocaleString('default', { month: 'long' })%> <%= activityDetails.activityDates.submissionDate.getFullYear() %></p>
          <p><strong>Activity Received Date : </strong><%= activityDetails.activityDates.receivedDate.getDate() %> <%=activityDetails.activityDates.receivedDate.toLocaleString('default', { month: 'long' })%> <%= activityDetails.activityDates.receivedDate.getFullYear() %></p>
          <p><strong>Activity video editing Date : </strong><%= activityDetails.activityDates.editedDate.getDate() %> <%=activityDetails.activityDates.editedDate.toLocaleString('default', { month: 'long' })%> <%= activityDetails.activityDates.editedDate.getFullYear() %></p>
          <p><strong>Activity Published Date : </strong><%= activityDetails.activityDates.publishedDate.getDate() %> <%=activityDetails.activityDates.publishedDate.toLocaleString('default', { month: 'long' })%> <%= activityDetails.activityDates.publishedDate.getFullYear() %> at <%=activityDetails.activityDates.publishedDate.getHours()%>:<%=activityDetails.activityDates.publishedDate.getMinutes()%></p>
          <hr>
          <p><strong>Activity Short Details : </strong><i><%=activityDetails.shortDetails%></i></p>
          <hr>
          <h5><strong>Activity Leaders</strong></h5>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          <div class="row">
            <div class="col-lg-6">
              <p><strong>Main Lead :</strong></p>
              <div class="member-container">
                <img class="member-avatar" src="/image/profile/medium/profile-<%=activityDetails.leaders.mainLead.regNumber%>" alt="">
                <div class="name-container">
                  <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=activityDetails.leaders.mainLead.regNumber%>/profile"><%=activityDetails.leaders.mainLead.userName%></a></strong>
                  <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                </div>
              </div>
            </div>
            
              <div class="col-lg-6">
                <p><strong>Assistant Lead :</strong></p>
                <%if(activityDetails.leaders.assistantLead){%>
                <div class="member-container">
                  <img class="member-avatar"  src="/image/profile/medium/profile-<%=activityDetails.leaders.assistantLead.regNumber%>" alt="">
                  <div class="name-container">
                    <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=activityDetails.leaders.assistantLead.regNumber%>/profile"><%=activityDetails.leaders.assistantLead.userName%></a></strong>
                    <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                  </div>
                </div>
                <%}else{%>
                  <div class="btn btn-block btn-info">No assistant leader!!</div>
                <%}%>
              </div>
              
            <hr>
            <div class="col-lg-6">
              <p><strong>Last Activity Handler :(last updation - <%= activityDetails.activityHandler.lastDate.getDate() %>  <%=activityDetails.activityHandler.lastDate.toLocaleString('default', { month: 'short' }) %>, <%= activityDetails.activityHandler.lastDate.getFullYear() %> at <%=activityDetails.activityHandler.lastDate.getHours()%>:<%=activityDetails.activityHandler.lastDate.getMinutes()%>)</strong></p>
              <div class="member-container">
                <img class="member-avatar"  src="/image/profile/medium/profile-<%=activityDetails.activityHandler.handler.regNumber%>" alt="">
                <div class="name-container">
                  <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=activityDetails.activityHandler.handler.regNumber%>"><%=activityDetails.activityHandler.handler.userName%></a></strong>
                  <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <p><strong>Video Editor :</strong></p>
              <div class="member-container">
                <img class="member-avatar"  src="/image/profile/medium/profile-<%=activityDetails.videoEditorDetails.regNumber%>" alt="">
                <div class="name-container">
                  <strong class="d-block ml-2" style="width: 100%;"><a href="#"><%=activityDetails.videoEditorDetails.userName%></a></strong>
                  <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
      <div class="col-lg-3 notVisibleOnCollapse" >
      </div>
    </div>
  </div>

  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>


<!-- New structure till upper section -->
