
<!-- New design starts -->

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-10 pt-1" style="padding: 0px;" >
    <div style="display: flex;flex-wrap: wrap;">
      <div class="col-lg-9" >
        <div class="mb-2">
          <div class="item-container" >

            <!-- video will be contain here -->
           
            <%if(activityDetails.videoCoverPhoto){%>
              <img class="single-batch-image"  src="<%=activityDetails.videoCoverPhoto%>" alt="">
            <%}else{%>
              <img class="single-batch-image"  src="/images/sponsor-banner.png" alt="">
            <%}%><!-- ################################### -->
            
            <div style="display: flex;margin-bottom: 5px; border-bottom: 1px solid rgb(126, 124, 124);">
              <div class="text-center">
                <img class="activity-avatar-small" src="/images/group.jpg" alt="">
              </div>
              <div class="post-header" style="width: 100%;display: flex;">
                <div class="mr-auto" style="padding-left: 5px;">
                  <div style="margin: 0;padding: 0;">
                    <a href="#"><strong>
                      <span class="text-capitalize"><%=activityDetails.activityType%></span>  
                      | <%=activityDetails.sourceName%> 
                      <%if(activityDetails.activityType=="batch"){%>
                        (20<%=activityDetails.activitySourceId.slice(0,2)%>-20<%=activityDetails.activitySourceId.slice(2,4)%>)
                      <%}%>
                       | 
                      <i><span>Created on <%= activityDetails.activityDates.createdDate.getMonth() + 1 %>/<%= activityDetails.activityDates.createdDate.getDate() %>/<%= activityDetails.activityDates.createdDate.getFullYear() %></span></i></strong>
                    </a>
                  </div>
                  <div style="margin: 0;padding: 0;">
                    <h5 class="bolder">
                      <%if(activityDetails.title){%>
                        <%=activityDetails.title%>
                      <%}else{%>
                        (Title has not dicided yet)
                      <%}%>
                       | 
                      <%if(activityDetails.topic){%>
                        <%=activityDetails.topic%>
                      <%}else{%>
                        (topic not decided)
                      <%}%>
                    </h5>
                  </div>
                </div>
                <div class="float-right">
                  <p style="margin-right: 8px;" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong><i class="fas fa-ellipsis-h"></i></strong>
                  </p>
                  <div class="dropdown-menu dropdown-menu-right">
                    <p class="dropdown-item text-primary" >For Post Owner</p>
                    <%if((activityDetails.status=="created" || activityDetails.status=="voted") && checkData.isActivityLeader){%>
                      <form action="/activity/<%=activityDetails._id%>/delete" method="post">
                        <button class="btn btn-sm btn-danger">Delete</button>
                      </form>
                    <%}%> 
                  </div>
                </div>
              </div>
            </div>
            </p> 
              <strong class="text-primary">Activity Short Details : </strong>
              <strong>
                <i>
                  <%if(activityDetails.shortDetails){%>
                    <%=activityDetails.shortDetails%>
                  <%}else{%>
                    Short details of the activity has not given.
                  <%}%>
                </i>
              </strong>
            </p>
          </div>
        </br>

        <!-- User section starts -->
          <div class="item-container">
            <%if(activityDetails.isTopicByVote){%>
              <%if(!activityDetails.isVoteCompleted){%>
                <!-- //voting details form -->
                <div class=" student-room-container" >
                  <div style="width: 100%;">
                    <h5  class="bolder text-info">Vote for upcomming activity topic -</h5>
                    <i><strong class="d-block">Last date of vote : <%= votingDetails.votingDates.votingLastDate.getMonth() + 1 %>/<%= votingDetails.votingDates.votingLastDate.getDate() %>/<%= votingDetails.votingDates.votingLastDate.getFullYear() %></strong></i>
                  </div>  
                  <hr>
                  <h6 class="text-warning"><strong>Received votes : <%=votingDetails.voters.length%></strong></h6>
                  <hr>
                  <%if(checkData.isActivityMember){%>
                    <%let alreadyVoted=false%>
                    <%let votingIndex=null%>
                    <%votingDetails.voters.forEach((voter)=>{%>
                      <%if(voter.regNumber==user.regNumber){%>
                        <%alreadyVoted=true%>
                        <%votingIndex=voter.votingIndex%>
                      <%}%>
                    <%})%>
                    <%if(!alreadyVoted){%>
                      <h5 class="bolder text-warning text-center">Please Give Your Vote</h5>
                      <h6 class="bolder">Available Topics</h6>  
                      <form action="/vote/<%=activityDetails._id%>/<%=votingDetails._id%>/topic" method="post" id="voting-form">
                        <div class="form-group">
                          <label for="topicIndex" class="text-muted mb-1"><small>Select Topic :-</small></label>
                          <select  id="topicIndex" class="form-control " name="topicIndex" form="voting-form">
                            <option value="">----------Select Topic----------</option>
                            <%votingDetails.topicOptions.forEach((topic,index)=>{%>
                              <option value="<%=index%>"><%=topic%></option>
                            <%})%>
                          </select>
                        </div>
                        <button class="btn btn-lg btn-warning btn-block">Submit selected topic</button>
                      </form>
                    <%}else{%>
                      <h5 class="bolder text-warning text-center">Thank You For Your Vote</h5>
                      <div class="btn btn-lg btn-block btn-info">
                        <strong>You voted for : </strong>
                        <%=votingDetails.topicOptions[votingIndex]%>
                      </div>
                    <%}%>
                  <%}else{%>
                    <h5 class="bolder text-warning text-center">Topic voting is going on.Result will be declared soon.</h5>
                  <%}%>
                </div>
               
              <%}else{%>
                <!-- //result data -->
                <div class=" student-room-container" >
                  <%if(activityDetails.status=="created" || activityDetails.status=="voted"){%>
                    <div style="width: 100%;">
                      <h5  class="bolder text-info">Topic has been selected by vote : (<a class="text-success" href="/topic-voting/<%=activityDetails.votingId%>/details">Voting Details</a>)</h5>
                      <strong class="d-block">Topic : <%= activityDetails.topic%></strong>
                      <strong class="d-block">Vote Result Date : <%= activityDetails.activityDates.votingResultDate.getMonth() + 1 %>/<%= activityDetails.activityDates.votingResultDate.getDate() %>/<%= activityDetails.activityDates.votingResultDate.getFullYear() %></strong>
                    </div> 
                    <%if(activityDetails.title){%>
                    <hr>
                      <%if(checkData.isActivityMember){%>
                        <h5 class="text-warning text-center"><strong>Let's start the activity with full energy!!</strong></h5>
                      <%}else{%>
                        <h5 class="text-warning text-center"><strong>Activity is going on with full energy!!</strong></h5>
                      <%}%>
                    <%}%>
                  <%}else{%>
                    <h5 class="text-warning text-center"><strong>Sooner the activity will be published!!</strong></h5>
                  <%}%>
                  
                </div>
                
              <%}%>
            <%}else{%>
              <!-- //activity details -->
              <div class=" student-room-container" >
                <div style="width: 100%;">
                  <%if(activityDetails.status=="created" || activityDetails.state=="voted"){%>
                    <%if(checkData.isActivityMember){%>
                      <h5 class="text-warning text-center"><strong>Let's start the activity with full energy!!</strong></h5>
                    <%}else{%>
                      <h5 class="text-warning text-center"><strong>Activity is going on with full energy!!</strong></h5>
                    <%}%>
                  <%}else{%>
                    <h5 class="text-warning text-center"><strong>Sooner the activity will be published!!</strong></h5>
                  <%}%>
                </div>
              </div>
              <hr>
            <%}%>
          </div>
          <!-- User Section ends -->
          </br>
          <!-- activity leader section starts -->
          <%if(checkData.isActivityLeader){%>
            <div class="item-container">
              <h5 class="bolder"><strong>Leader Section :</strong></h5>
              <%if(activityDetails.status=="created" || activityDetails.status=="voted"){%>
                <%if(activityDetails.isTopicByVote){%>
                  <%if(!activityDetails.isVoteCompleted){%>
                  <form action="/vote/<%=activityDetails._id%>/<%=votingDetails._id%>/declare-topic-result" method="post">
                    <button class="btn btn-lg btn-block btn-success ">
                      <strong class="bolder">Declare the result</strong>
                    </button>
                  </form>
                  <%}%>
                  <hr>
                <%}else{%>
                    <div>
                      <h5 class="text-warning">whenever your activity will be completed,please collect all video records and sent it to post controller for editing videos.</h5>
                      <a class="btn btn-lg btn-block btn-info " href="/activity/<%=activityDetails._id%>/add-participants-page">Add all activity participants</a>
                    </div>
                    <hr>
                <%}%>
                <!-- activity details updation form -->
              <%if(activityDetails.isTopicByVote && activityDetails.isVoteCompleted){%>
                <%if(activityDetails.isTopicByVote && activityDetails.isVoteCompleted && !activityDetails.title){%>
                  <div class=" student-room-container" >
                    <div style="width: 100%;">
                      <h4  class="bolder text-info">Topic has been selected by vote :</h4>
                      <strong class="d-block">Topic : <%= activityDetails.topic%></strong>
                      <strong class="d-block">Vote result date : <%= activityDetails.activityDates.votingResultDate.getMonth() + 1 %>/<%= activityDetails.activityDates.votingResultDate.getDate() %>/<%= activityDetails.activityDates.votingResultDate.getFullYear() %></strong>
                    </div> 
                    <hr>
                    <h4 class="text-warning text-center"><strong>Set Activity Data </strong></h4>
                    <form action="/activity/<%=activityDetails._id%>/edit" method="post">
                      <div class="form-group">
                        <label for="title" class="text-muted mb-1"><small>Give a title :-</small></label>
                        <input  name="title" id="title" class="form-control form-control-lg " type="text" placeholder="Title of the activity." autocomplete="off">
                      </div>
                      <div class="form-group">
                        <label for="activity-body" class="text-muted mb-1"><small>Short details of activity :-</small></label>
                        <textarea  name="shortDetails" id="activity-body" class="body-content tall-textarea form-control" type="text"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="activityDate" class="text-muted mb-1"><small>Activity Date :-</small></label>
                        <input  name="activityDate" id="activityDate" class="form-control form-control-lg " type="date" placeholder="Activity date." autocomplete="off">
                      </div>
                      <input  name="topic" type="hidden" value="<%=activityDetails.topic%>">
                      <button class="btn btn-primary btn-color text-center">Submit Activity Data</button>
                    </form>
                  </div>
                <%}%>
              <%}%>
              <!-- ends -->
                <%if(activityDetails.isTopicByVote && activityDetails.title){%>
                  <div class=" student-room-container" >
                    <h5 class="text-warning"><strong>whenever your activity will be completed,please collect all video records and sent it to post controller for editing videos.Please add all activity participants during activity submission.</strong> </h5>
                    <a class="btn btn-lg btn-block btn-info " href="/activity/<%=activityDetails._id%>/add-participants-page">Add all activity participants</a>
                  </div>
                  <hr>
                <%}%>
                
              <%}else{%>
                <div class="student-room-container">
                  <h5 class="text-warning text-center"><strong>Activity leader has no task on present activity status.</strong></h5>
                </div>
              <%}%>
              <%if( activityDetails.status=="editorAssigned" || activityDetails.status=="editingAccepted" || activityDetails.status=="edited"){%>
                <div class="student-room-container mt-2">
                <h6 class="text-info "><strong>Video editor details -</strong> </h6>
                <span class="d-block"><strong>Name : </strong><%=activityDetails.videoEditorDetails.userName%></span>
                <span class="d-block"><strong>Phone : </strong><%=activityDetails.videoEditorDetails.phone%></span>
              </div>
              <%}%>
            </div>
          <%}%>
          <!-- activity leader section ends -->
        </br>
        <!-- post controller selection section starts -->
          <%if(checkData.isPostController){%>
            <div class="item-container">
              <h5 class="bolder"><strong>Post Controller Section :</strong></h5>
              
              <%if(activityDetails.status=="activitySubmitted"){%>
                <div class=" student-room-container" >
                  <h5 class="text-warning">Me,<strong><%=user.userName%></strong> as a post controller received all the documents regarding the activity.</h5>
                  <form action="/activity/<%=activityDetails._id%>/received" method="post">
                    <div class="form-group">
                      <label for="post-controller-body" class="text-muted mb-1"><small>Write short note regarding this activity :-</small></label>
                      <textarea  name="postControllerNote" id="post-controller-body" class="body-content small-textarea form-control" type="text" placeholder="Write short note here."></textarea>
                    </div>
                    <button class="btn btn-lg btn-block btn-success ">
                      <strong class="bolder">Click if documents are received</strong>
                    </button>
                  </form>
                </div>
                <hr>
              <%}else if(activityDetails.status=="received" || activityDetails.status=="editorAssigned" || activityDetails.status=="editingAccepted"){%>
                <%if(activityDetails.status=="received"){%>
                  <div class=" student-room-container" >
                    <h5 class="text-warning">Sent videos to a video editor.</h5>
                    <a class="btn btn-lg btn-block btn-success " href="/activity/<%=activityDetails._id%>/video-editor">
                      Get activity video editor
                    </a>
                  </div>
                  <%}else if(activityDetails.status=="editorAssigned"){%>
                    <div class=" student-room-container" >
                      <h5 class="text-info text-center"><strong>Video editor has been assigned!!</strong> </h5>
                      <span class="d-block"><strong>Name : </strong><%=activityDetails.videoEditorDetails.userName%></span>
                      <span class="d-block"><strong>Phone : </strong><%=activityDetails.videoEditorDetails.phone%></span>
                      <span class="d-block"><strong>Registration Number : <%=activityDetails.videoEditorDetails.regNumber%></strong></span>
                      <hr>
                      <div class="btn btn-lg btn-block btn-danger ">
                        <strong>Editor has not received yet!!</strong>
                      </div>
                    </div>
                  <%}%>
                  <hr>
                <%}else if(activityDetails.status=="edited"){%>
                  <%if(activityDetails.videoCoverPhoto){%>
                    <div class=" student-room-container" >
                      <h5 class="text-warning"><strong> Video has been edited by video editor.So collect the video and upload it on youTube ,facebook ,instagram,linkedIn and get the video link from there after that copy-paste the link on respected fields for submission.</strong></h5>
                      <form action="/activity/<%=activityDetails._id%>/publish" method="post">
                        <div class="form-group">
                          <label for="youtubeLink" class="text-muted mb-1"><small>Youtube Video Link :-(must be given)</small></label>
                          <input  name="youTubeLink" id="youtubeLink" class="form-control form-control-lg " type="text" placeholder="Give youtube video link." autocomplete="off" required>
                        </div>
                        <div class="form-group">
                          <label for="facebookLink" class="text-muted mb-1"><small>Facebook Video Link :-</small></label>
                          <input  name="facebookLink" id="facebookLink" class="form-control form-control-lg " type="text" placeholder="Give facebook video link." autocomplete="off">
                        </div>
                        <div class="form-group">
                          <label for="instagramLink" class="text-muted mb-1"><small>Instagram Video Link :-</small></label>
                          <input  name="instagramLink" id="instagramLink" class="form-control form-control-lg " type="text" placeholder="Give instagram video link." autocomplete="off">
                        </div>
                        <div class="form-group">
                          <label for="linkedinLink" class="text-muted mb-1"><small>LinkedIn Video Link :-</small></label>
                          <input  name="linkedInLink" id="linkedinLink" class="form-control form-control-lg " type="text" placeholder="Give linkedIn video link." autocomplete="off">
                        </div>
                        <button class="btn btn-lg btn-block btn-success ">
                          <strong class="bolder">Publish Activity</strong>
                        </button>
                      </form>
                    </div>
                  <%}else{%>
                    <div class=" student-room-container" >
                      <h5 class="bolder">Upload video cover photo :</h5>
                      <form action="/activity/<%=activityDetails._id%>/upload-cover-photo" method="post">
                        <div class="form-group">
                          <label for="videoCoverPhoto" class="text-muted mb-1"><small>Video cover photo upload :-</small></label>
                          <input  name="videoCoverPhoto" id="videoCoverPhoto" class="form-control form-control-lg " type="text" placeholder="Give video cover photo link." autocomplete="off">
                        </div>
                        <button class="btn btn-lg btn-block btn-success ">
                          <strong class="bolder">Upload Photo</strong>
                        </button>
                      </form>
                    </div>
                  <%}%>
                <%}else{%>
                  <div class="student-room-container">
                    <h5 class="text-warning text-center"><strong>Post controller has no task on present activity status.</strong></h5>
                  </div>
                <%}%>
            </div>
          <%}%>
          <!-- post controller selection ends -->
        </br>
        <!-- video editor section starts -->
        <%if(activityDetails.videoEditorDetails){%>      
          <%if(activityDetails.videoEditorDetails.regNumber==user.regNumber ){%>      
            <div class="item-container">
              <h5 class="bolder"><strong>Video Editor Section :</strong></h5>
              <%if(activityDetails.status=="editorAssigned"){%>
                <div class=" student-room-container" >
                  <h5 class="text-warning">Me,<strong><%=user.userName%></strong> as video editor received all the videos regarding the activity given by post controller.</h5>
                  <form action="/accept/<%=activityDetails._id%>/video-editing" method="post">
                    <div class="form-group">
                      <label for="post-controller-body" class="text-muted mb-1"><small>Write short note regarding this activity :-</small></label>
                      <textarea  name="videoEditorNote" id="post-controller-body" class="body-content small-textarea form-control" type="text" placeholder="Write short note here."></textarea>
                    </div>
                    <button class="btn btn-lg btn-block btn-success ">
                      <strong class="bolder">Click if documents are received</strong>
                    </button>
                  </form>
                </div>
              <%}else if( activityDetails.status=="editingAccepted"){%>
                <div class=" student-room-container" >
                  <h5 class="text-warning"><strong>When you will complete your editing,give the final video to post controller and click the belowed button to update the activity state as "edited".</strong></h5>
                  <form action="/video-editing/<%=activityDetails._id%>/completed" method="post">
                    <button class="btn btn-lg btn-block btn-success ">
                      <strong class="bolder">Click if editing completed</strong>
                    </button>
                  </form>
                </div>
              <%}else if(activityDetails.status=="edited"){%>
                <div class=" student-room-container" >
                  <h5 class="text-warning text-center"><strong>Thank you so much for completing video editing.Please hand over final video to Post Controller.</strong></h5>
                  <button class="btn btn-lg btn-block btn-success ">
                      <strong class="bolder ">Wait for publishing.You will get the credit.</strong>
                  </button>
                </div>
              <%}%>
            </div>
          <%}%>
        <%}%>
          <!-- video editor section ends -->
      
        </div>
      </div>
    
      <div class="col-lg-3" >
        <!-- activity signal starts here -->
        <div class="item-container mb-2">
          <h6><strong>Activity States</strong></h6>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          <%if(activityDetails.status=="created"){%>
            <strong class="btn btn-block btn-success">Created</strong>
            <%if(activityDetails.isTopicByVote){%>
              <%if(!activityDetails.isVoteCompleted){%>
                <strong class="btn btn-block btn-info">Voting....</strong>
              <%}%>
              <strong class="btn btn-block btn-secondary disabled">Voted</strong>
            <%}else{%>
              <strong class="btn btn-block btn-info">Activity going on....</strong>
            <%}%>
            <strong class="btn btn-block btn-secondary disabled">Activity Submitted</strong>
            <strong class="btn btn-block btn-secondary disabled">Activity Received</strong>
            <strong class="btn btn-block btn-secondary disabled">Video Edited</strong>
            <strong class="btn btn-block btn-secondary disabled">Published</strong> 
          <%}else if(activityDetails.status=="voted"){%>
            <strong class="btn btn-block btn-success">Created</strong>
            <%if(activityDetails.isTopicByVote){%>
              <strong class="btn btn-block btn-success">Voted</strong>
            <%}%>
            <strong class="btn btn-block btn-info">Activity going on....</strong>
            <strong class="btn btn-block btn-secondary disabled">Activity Submitted</strong>
            <strong class="btn btn-block btn-secondary disabled">Activity Received</strong>
            <strong class="btn btn-block btn-secondary disabled">Video Edited</strong>
            <strong class="btn btn-block btn-secondary disabled">Published</strong>
          <%}else if(activityDetails.status=="activitySubmitted"){%>
            <strong class="btn btn-block btn-success">Created</strong>
            <%if(activityDetails.isTopicByVote){%>
              <strong class="btn btn-block btn-success">Voted</strong>
            <%}%>
            <strong class="btn btn-block btn-success">Activity Submitted</strong>
            <strong class="btn btn-block btn-info">Waiting for received...</strong>
            <strong class="btn btn-block btn-secondary disabled">Activity Received</strong>
            <strong class="btn btn-block btn-secondary disabled">Video Edited</strong>
            <strong class="btn btn-block btn-secondary disabled">Published</strong>
          <%}else if(activityDetails.status=="received" || activityDetails.status=="editorAssigned" || activityDetails.status=="editingAccepted"){%>
            <strong class="btn btn-block btn-success">Created</strong>
            <%if(activityDetails.isTopicByVote){%>
              <strong class="btn btn-block btn-success">Voted</strong>
            <%}%>
            <strong class="btn btn-block btn-success">Activity Submitted</strong>
            <strong class="btn btn-block btn-success">Activity Received</strong>
            <strong class="btn btn-block btn-info">Video Editing...</strong>
            <strong class="btn btn-block btn-secondary disabled">Video Edited</strong>
            <strong class="btn btn-block btn-secondary disabled">Published</strong> 
          <%}else if(activityDetails.status=="edited"){%>
            <strong class="btn btn-block btn-success">Created</strong>
            <%if(activityDetails.isTopicByVote){%>
              <strong class="btn btn-block btn-success">Voted</strong>
            <%}%>
            <strong class="btn btn-block btn-success">Activity Submitted</strong>
            <strong class="btn btn-block btn-success">Activity Received</strong>
            <strong class="btn btn-block btn-success">Video Edited</strong>
            <strong class="btn btn-block btn-info">Waiting to publish..</strong>
            <strong class="btn btn-block btn-secondary disabled">Published</strong>
          <%}%>
        </div>
        <!-- end activity state signals -->
        <!-- all participants section starts -->
        <%if(activityDetails.participants.length){%>
          <div class="item-container mb-2">
            <h6><strong>All Participants (<%=activityDetails.participants.length%>)</strong></h6>
            <hr style="margin-bottom: .25rem;margin-top: 0rem;">
            <%activityDetails.participants.forEach((participant)=>{%>
              <a style="direction: none;" href="/student/<%=participant.regNumber%>/profile">
                <div class="d-flex align-items-center student-room-container" >
                  <div >
                    <img class="avatar-small"  src="/images/sohag.jpg" alt="">
                  </div>
                  <div class="ml-4">
                    <span class="d-block"><strong ><%=participant.userName%></strong></span>
                  </div>
                </div>
              </a>
            <%})%>
          </div>
        <%}%>
        <!-- all participants section ends -->
        <div class="item-container">
          <h6><strong>Activity Leaders</strong></h6>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
    
            <strong class="d-block text-info">Main Lead :</strong>
            <a href="/student/<%=activityDetails.leaders.mainLead.regNumber%>/profile" style="text-decoration:none ;color: black;">
              <div class="d-flex align-items-center student-room-container" >
                <div >
                  <img class="avatar-small" src="/image/profile/small/profile-<%=activityDetails.leaders.mainLead.regNumber%>"  alt="">
                </div>
                <div class="ml-2">
                  <span class="d-block "><strong >Name : </strong><%=activityDetails.leaders.mainLead.userName%></span>
                </div>
              </div>
            </a>
            <strong class="d-block text-info">Assistant Lead :</strong>
            <%if(activityDetails.leaders.assistantLead){%>
              <a href="/student/<%=activityDetails.leaders.assistantLead.regNumber%>/profile" style="text-decoration:none ;color: black;">
                <div class="d-flex align-items-center student-room-container" >
                  <div >
                    <img class="avatar-small"  src="/image/profile/small/profile-<%=activityDetails.leaders.assistantLead.regNumber%>"  alt="">
                  </div>
                  <div class="ml-2">
                    <span class="d-block"><strong >Name : </strong><%=activityDetails.leaders.assistantLead.userName%></span>
                  </div>
                </div>
              </a>
            <%}else{%>
              <div class="btn btn-block btn-info">No assistant leader!!</div>
            <%}%>
            
        </div>

      </div>
      </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>


<!-- New design ends -->
