<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7" >

    <h5 class="bolder text-primary pt-1 text-center"><strong>Activity Details</strong></h5>
        <div class="container">
          <!-- ############--Post Structure--############ -->      
            <% liked=false %>
            <div class=" mb-2">
              <div class="item-container" >
                <div style="display: flex;">
                  <div class="text-center">
                    <img class="avatar-small" style="top:7px ;margin-left: 0rem;margin-right: 2px;" src="/images/sohag.jpg" alt="">
                  </div>
                  <div class="post-header" style="width: 100%;display: flex;">
                    <div class="mr-auto" style="padding-left: 5px;">
                      <div style="margin: 0;padding: 0;">
                        <a href="#"><strong>Sohag Roy</strong></a>
                      </div>
                      <div style="margin: 0;padding: 0;">
                        <i><span>Posted on 12/12/12</span></i> <span style="font-weight: 500;">.</span><i class="fas fa-user-friends fa-sm"></i>
                      </div>
                    </div>
                    <div class="float-right">
                      <p style="margin-right: 8px;" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong><i class="fas fa-ellipsis-h"></i></strong>
                      </p>
                      <div class="dropdown-menu dropdown-menu-right">
                        <p class="dropdown-item text-primary" >For Post Owner</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr style="margin-bottom: .35rem;margin-top: 2px;">
                <p>
                <div class="photoPostContainer">
                    <img class="postedPhoto" src="<%=activityDetails.videoCoverPhoto%>" alt="">
                  </div>
                </p>
                <% activityDetails.likes.forEach(function(regNumber) { %>
                  <%if(regNumber==user.regNumber){%>
                    <% liked=true %>
                  <%}%>
                <%})%>
                <div style="display: flex;">
                  <div class="text-left <%= liked ? 'text-primary' : '' %>" style="width: 50%;">
                    <i class="far fa-thumbs-up"></i><span> <%= activityDetails.likes.length %> <%= activityDetails.likes.length>1 ? 'Likes' : 'Like' %></span>
                  </div>
                  <div class="text-right" style="width: 50%;">
                    <span><%= activityDetails.comments.length %> <%= activityDetails.comments.length>1  ? 'Comments' : 'Comment'%></span> 
                  </div>
                </div>
                <div style="display: flex;margin-bottom: 5px; border-top: 1px solid rgb(126, 124, 124);border-bottom: 1px solid rgb(126, 124, 124);">
                  <div class="text-center" style="width: 50%;">
                    <%  if(liked){%> 
                      <form class="inlineContainer" action="/activity/<%=activityDetails._id%>/dislike" method="POST">
                        <button class="btn  btn-block text-primary" style="border: 0px;background: #fff;" type="submit">
                            <i class="far fa-thumbs-up"></i> Liked
                        </button>
                      </form>
                    <%}else{%> 
                      <form class="inlineContainer" action="/activity/<%=activityDetails._id%>/like" method="POST">
                        <button class="btn  btn-block " style="border: 0px;background: #fff;" type="submit">
                            <i class="far fa-thumbs-up"></i> Like 
                        </button>
                      </form>
                    <%}%>
                  </div>
                  <div class="text-center" style="width: 50%;">
                    <button class="btn  btn-block" style="border: 0px;background: #fff;" type="button" data-toggle="collapse" data-target="#collapse<%= activityDetails._id %>" aria-expanded="false" aria-controls="collapseExample">
                      <i class="far fa-comment-alt"></i> <%= activityDetails.comments.length>1  ? 'Comments' : 'Comment'%>
                    </button>
                  </div>
                </div>
                <div class="collapse" id="collapse<%= activityDetails._id %>">
                  <div class="card card-body">
                    <p class="inlineContainer">  
                      <%if( activityDetails.comments.length==0){%>
                        <div class="text-muted small list-group-item">
                          <p class="btmMarginZero bolderFont">No one comment on this post till now , be the first one.</p>
                        </div>
                      <%}%>                         
                        <!-- comments loop will be here -->
                        <% activityDetails.comments.forEach(function(comment) { %>
                          <div class="text-muted small list-group-item">
                              <a href="/student/<%=comment.regNumber%>/profile">
                                <img class="avatar-tiny" src="/images/sohag.jpg">
                                <strong><a href="/student/<%=comment.regNumber%>/profile"> <%=comment.userName %></a> </strong>
                              </a>
                            <div >
                              <i><strong>Commented on </strong> 12/12/2022</i>
                            </div>
                              <p class="btmMarginZero textJustifyAlign" ><strong class="bolder"> Comment : </strong> <%= comment.comment %></p>                                           
                          </div> 
                        <% }) %>                                      
                        <!-- close -->
                    </p>
                  </div>
                </div>
                <!-- comment section -->
                  <div style="display: flex;">
                    <div class="text-center">
                      <img class="avatar-small" style="top:1px ;margin-left: 0rem;margin-right: 2px;" src="/images/sohag.jpg" alt="">
                    </div>
                    <div class="post-form-container" style="padding: 4px;">
                      <form action="/activity/<%= activityDetails._id %>/comment" method="post" style="display: flex;">
                        <input type="text" name="comment" class="post-input-field" placeholder="Write your comment here." required autocomplete="off">
                        <button class="post-button" type="submit" style="background-color: #f0f2f5;">Comment</button>
                      </form>
                    </div>
                  </div>
              </div>
            </div>
            <script>
              function deletePost() {
              return confirm('Do you really want to delete the post.');
              }
            </script>
            
  
          <!-- ######################## -->
          <hr>
          <div class="btn btn-lg btn-info btn-block">Activity details will be shown here</div>  
        </div>
      
    

  </div>
  <div class="col-lg"></div>
</div>