<%- include('includes/header') %> 
<%- include('includes/flash') %>
<%- include('includes/officialUser-header') %> 

    <div class="item-container mb-4">
      <div class="row">
        <div class="col-sm-6 mt-2 " >
          <a href="/add-new-session-batch" style="text-decoration: none;" >
            <div class="item-container bolder" style="color: #fff; background-color:#2a4bd5;">
              <h5 class="text-center" style="padding: 1.75rem;"><strong>Add New Session Batch</strong></h5>            
            </div>
          </a>
        </div> 
        <div class="col-sm-6 mt-2 " >
          <a href="/handle-rejected-accounts" style="text-decoration: none;" >
            <div class="item-container bolder" style="color: #fff; background-color:#D52AA0 ;">
              <h5 class="text-center" style="padding: 1.75rem;"><strong>Handle Rejected Accounts(<%=rejectedAccounts%>)</strong></h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 mt-2 " >
          <a href="/add-department-and-create-group" style="text-decoration: none;" >
            <div class="item-container bolder" style="color: #fff; background-color:#D5B42A ;">
              <h5 class="text-center" style="padding: 1.75rem;"><strong>Add New Department & Create Group</strong></h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 mt-2 " >
          <a href="/handle-official-user-data" style="text-decoration: none;" >
            <div class="item-container bolder" style="color: #fff; background-color:#2AD55F ;">
              <h5 class="text-center" style="padding: 1.75rem;"><strong>Handle Official User Data</strong></h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  <%- include('includes/officialUser-footer') %> 


<!-- New designing page till upper section -->

<%- include('includes/footer') %>

