
<%- include('includes/header') %> 
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-2" >
    <img class="home-cover-image" src="/images/allDepartments-cover.png"/>
    <hr>
    <div class="row">
      
     <%allGroups.forEach((group)=>{%>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <a href="/group/<%=group.groupId%>/details" style="display: block; text-decoration: none;">
          <div class="small-group-container" style=" background-color:rgb(91, 126, 126)">
            <img class="group-small-banner" src="/image/group-banner/large/<%=group.groupId%>" alt="">
            <div>
              <strong class="d-block text-center text-white text-capitalize">Group : <%=group.groupName%></strong>
              <strong class="d-block bolder ml-2">Departments :-</strong>
              <%group.departments.forEach((department,index)=>{%>
                <i class="d-block text-center text-white"><%=index+1%>.<%=department.departmentName%></i>
              <%})%>
            </div>
          </div>
        </a>
      </div>
     <%})%>
    </div>

  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
