<%- include('includes/header') %> 
<%- include('includes/flash') %>

    <div style="display: flex;flex-wrap: wrap;">
      <div class="col-lg notVisibleOnCollapse" >
      </div>
      <div class="col-lg-9 pt-1" >
        <div class="">
          <div style="width: 100%;position: relative;">
            <div>
            <img class="department-batch-group-cover-image" src="/image/department-banner/large/<%=departmentDetails.departmentCode%>" width="1000" height="250"/>
            <%if(checkData.isPresentLeader || checkData.isPreviousLeader){%>
              <div style="position: absolute;right: 10px;top: 10px;">
                <h3 type="button" class="text-info" data-toggle="modal" data-target="#bannerPicUploadCenter"><i class="fas fa-camera-retro"></i></h3>
                <!-- Modal -->
                <div class="modal fade" id="bannerPicUploadCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload Cover Picture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/upload-department-banner/<%=departmentDetails.departmentCode%>" method="post" enctype="multipart/form-data">
                          <div class="form-group text-left">
                            <label class="form-label" for="customFile">Choose Department Banner Photo (jpeg/png)</label>
                            <input type="file" name="image" class="form-control" id="customFile" />
                          </div>
                          <div style="text-align: left;">
                            <button class="btn btn-success btn-sm ">Upload</button>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ----------model ends------- -->
              </div>
              <%}%>
            </div>
            <div class="text-center">
              <h5>
                <strong>
                  <span class="text-primary" > Department : <%=departmentDetails.departmentName%></span>
                </strong>
              </h5> 
              <a class="text-warning" href="/group/<%=departmentDetails.groupId%>/details"><strong>( Go to group page )</strong> </a> 
            </div>
          </div>  
          <hr>
          <div class="d-flex justify-content-center">
            <%if(departmentDetails.activeBatches.firstYear){%>
              <a href="/batch/<%=departmentDetails.activeBatches.firstYear.batchId%>/details"><span class="button">First Year Batch</span></a>
            <%}%>
            <%if(departmentDetails.activeBatches.secondYear){%>
              <a href="/batch/<%=departmentDetails.activeBatches.secondYear.batchId%>/details"><span class="button">Second Year Batch</span></a>
            <%}%>
            <%if(departmentDetails.activeBatches.seniours){%>
              <a href="/batch/<%=departmentDetails.activeBatches.seniours.batchId%>/details"><span class="button">Seniours Batch</span></a>
            <%}%>
          </div>
          <hr>
        </div>
    
        <div class=" mt-2 mb-2" >
          <div class=" path text-secondary" style=" padding: 1.4rem">
            <!-- activity board starts here -->
            <%let gotoText=null%>
            <%let gotoLink=null%>  
            <div style="display: flex;    flex-wrap: wrap;">
              <div class="col-lg-6">
                <strong style="color:#fff;"><h5>Activity Board :</h5></strong>
                <hr style="margin-bottom: .85rem;margin-top: 0rem;">
                <div class="member-container d-block" style="height:8rem ;max-height:8rem ;overflow-y: scroll;">
                  <!-- activity details contsiner starts | Voting board + Activity Board-->
                  <%if(departmentDetails.isVoteGoingOn){%>
                  <!--Voting related informations starts--> 
                    <%gotoLink="/leader-voting/"+departmentDetails.leaderVotingData.votingPoleId+"/details"%>
                    <h5 class="bolder text-warning text-center"><strong>Leader Voting is Going On</strong></h5>
                    <hr style="margin-bottom: .2rem;margin-top: 0rem;">
                    <%if(departmentDetails.leaderVotingData.votingDates.resultDate){%>
                      <%gotoText="See the voting result"%> 
                      <h6 class="bolder text-warning text-center" style="margin-bottom:0px"><strong>Result has published !!</strong></h6>
                      <%if(departmentDetails.leaderVotingData.wonLeader.regNumber==user.regNumber){%>
                        <%gotoText="See the voting details"%>
                        <strong  class="d-block text-info text-center">Congrats!! You have won the election.Accept yourself as a leader.</strong>
                      <%}else{%>
                        <%gotoText="See the voting result"%>
                        <strong  class="d-block text-info text-center">New Leader will be added when he/she will accept himself/herself as a new leader.</strong>  
                      <%}%>
                      <strong  class="d-block text-primary">Won Leader : <span class="text-secondary"><%=departmentDetails.leaderVotingData.wonLeader.userName%></span></strong> 
                      <strong  class="d-block text-primary">Result Date : <span class="text-secondary"><%= departmentDetails.leaderVotingData.votingDates.resultDate.getDate() %> <%=departmentDetails.leaderVotingData.votingDates.resultDate.toLocaleString('default', { month: 'short' }) %> , <%= departmentDetails.leaderVotingData.votingDates.resultDate.getFullYear() %> at <%=departmentDetails.leaderVotingData.votingDates.resultDate.getHours()%>:<%=departmentDetails.leaderVotingData.votingDates.resultDate.getMinutes()%></span></strong>
                      <hr>
                    <%}%>
                    <strong  class="d-block text-primary">Pole Created Date : <span class="text-secondary"><%= departmentDetails.leaderVotingData.votingDates.createdDate.getDate() %> <%=departmentDetails.leaderVotingData.votingDates.createdDate.toLocaleString('default', { month: 'short' }) %> , <%= departmentDetails.leaderVotingData.votingDates.createdDate.getFullYear() %> at <%=departmentDetails.leaderVotingData.votingDates.createdDate.getHours()%>:<%=departmentDetails.leaderVotingData.votingDates.createdDate.getMinutes()%></span> </strong> 
                    <strong  class="d-block text-primary">Nomination Last Date : <span class="text-secondary"><%= departmentDetails.leaderVotingData.votingDates.nominationLastDate.getDate() %> <%=departmentDetails.leaderVotingData.votingDates.nominationLastDate.toLocaleString('default', { month: 'short' }) %> , <%= departmentDetails.leaderVotingData.votingDates.nominationLastDate.getFullYear() %> at <%=departmentDetails.leaderVotingData.votingDates.nominationLastDate.getHours()%>:<%=departmentDetails.leaderVotingData.votingDates.nominationLastDate.getMinutes()%></span></strong>
                    <strong  class="d-block text-primary">Voting Last Date : <span class="text-secondary"><%= departmentDetails.leaderVotingData.votingDates.votingLastDate.getDate() %> <%=departmentDetails.leaderVotingData.votingDates.votingLastDate.toLocaleString('default', { month: 'short' }) %> , <%= departmentDetails.leaderVotingData.votingDates.votingLastDate.getFullYear() %> at <%=departmentDetails.leaderVotingData.votingDates.votingLastDate.getHours()%>:<%=departmentDetails.leaderVotingData.votingDates.votingLastDate.getMinutes()%></span></strong>
                  <!--Voting related informations ends-->
                  <%}else if(departmentDetails.presentActivity){%>
                    <%gotoLink="/activity/"+departmentDetails.presentActivity.activityId+"/details"%>
                    <!--Activity related informations starts-->  
                    <h5 class="bolder text-warning text-center"><strong>Department Activity is Going On</strong></h5>
                    <hr style="margin-bottom: .2rem;margin-top: 0rem;">
                    <%if(departmentDetails.presentActivity.isTopicByVote && !departmentDetails.presentActivity.isVoteCompleted){%>
                      <h6 class="bolder text-warning text-center" style="margin-bottom:0px"><strong>Topic voting is going on!!</strong></h6>
                      <%if(checkData.isDepartmentMember){%>
                        <%gotoText="Give topic vote"%>
                        <strong  class="d-block text-info text-center">Topic for next activity is going to be selected by voting.Please give your vote.</strong>
                      <%}else{%>
                        <%gotoText="Go to topic voting page"%>
                        <strong  class="d-block text-info text-center">Topic selection for next activity is going on.</strong> 
                      <%}%>    
                    <%}else{%>
                      <%gotoText="Check activity status"%>
                      <h6  class="d-block bolder text-primary mb-0 text-center"><strong>Activity Short Details </strong> </h6>
                      <strong class="d-block"><span class="text-primary">Topic :</span> <%=departmentDetails.presentActivity.topic%></strong>
                      <strong class="d-block"><span class="text-primary">Title :</span> <%=departmentDetails.presentActivity.title%></strong>
                    <%}%> 
                    <!--Activity related informations ends-->
                  <%}else{%>
                    <%if(checkData.isPresentLeader || checkData.isPreviousLeader){%>
                      <%gotoText="Create new activity"%>
                      <%gotoLink="/activity/department/"+departmentDetails.departmentCode+"/create"%>
                      <h6  class="d-block bolder text-warning mb-0 text-center"><strong>No Activity available!! </strong> </h6>
                      <strong  class="d-block text-info text-center">As a present leader you should create an activity.Do some creative activity on your leadership.</strong>
                    <%}else{%>
                      <%if(checkData.isDepartmentMember){%>
                        <h6  class="d-block bolder text-warning mb-0 text-center"><strong>No Activity available!! </strong> </h6>
                        <div class="d-block text-info text-center">Contact with the present leader to create new activity!!</div>
                      <%}else{%>
                        <h5 class=" text-warning text-center"><strong>No Activity Going On!!</strong> </h5>
                      <%}%>
                    <%}%>
                  <%}%> 
                  <!-- activity details contsiner ends -->
                </div>
                <!-- activity goto link starts -->
                <%if(gotoLink){%>
                  <a href="<%=gotoLink%>" class="btn btn-block btn-primary"><%=gotoText%> <i class="fas fa-arrow-right"></i></a>
                <%}else{%>
                  <div class="btn btn-block btn-primary disabled">No activity available!!</div>
                <%}%>
                <!-- activity goto link ends -->
              </div>
              <!-- Activity board ends here -->
              <!-- source notification part starts here -->
              <div class="col-lg-6">
                <strong style="color:#fff;"><h5>Notification Board : <%= sourceNotifications.length==5 ? "(last-5)":""%></h5></strong>
                <hr style="margin-bottom: .85rem;margin-top: 0rem;">
                <div class="member-container d-block" style="height:8rem ;overflow-y: scroll;">
                  <%if(!sourceNotifications.length){%>
                    <div class="btn btn-block btn-info">No notification available!!</div>
                  <%}else{%>
                  <%sourceNotifications.forEach((notification)=>{%>
                    <div class="notification-container mb-1 not-viewed">
                      <div style="display: flex;width: 100%;">
                          <div class="row"  style="width: 100%;">
                            <div class="col"  style="width: 100%;">
                              <div style="width: 100%;">
                                <strong class="bolder"><%=notification.message%></strong>  
                              </div>
                            </div>
                          </div>
                      </div>
                      <%if(notification.gotoText){%>
                        <hr style="padding: 0;margin: 0;">
                        <div class="ml-1" >
                          <a class="d-inline bolder text-primary mr-3" href="<%=notification.gotoLink%>"> <%=notification.gotoText%></a>
                          <strong class="float-right"><i><%= notification.createdDate.getDate() %>/<%= notification.createdDate.getMonth() + 1 %>/<%= notification.createdDate.getFullYear() %></i></strong> 
                        </div>
                      <%}%>
                    </div>
                  <%})%>
                  <%}%>
                </div>
                <a href="/source/department/<%=departmentDetails.departmentCode%>/notifications" class="btn btn-block btn-info">See all notifications <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
            <!-- source notification part ends here -->
            <!-- daysOut will be true if present leader selected before 15 days -->
            
            <%if(checkData.isPresentLeader && !departmentDetails.isVoteGoingOn && !departmentDetails.presentActivity && checkData.isLeaderMoreThen30Days){%>
                <hr>
                <div class="member-container mt-2">
                    <div>
                      <h5 class="bolder text-primary"><strong>New Leader Selection voting pole creation:</strong></h5>
                      <h6 class="bolder text-warning"><strong>Present leader activation date : </strong><%= departmentDetails.presentLeader.createdDate.getDate() %> <%=departmentDetails.presentLeader.createdDate.toLocaleString('default', { month: 'short' }) %> , <%= departmentDetails.presentLeader.createdDate.getFullYear() %> at <%=departmentDetails.presentLeader.createdDate.getHours()%>:<%=departmentDetails.presentLeader.createdDate.getMinutes()%></h6>
                      <h6 class="bolder text-danger">[This section will only work/shown after 30 days of present leader selection.Main leader can create voting pole in case he/she is not interested to lead activity]</h6>
                      <div class="container">
                        <div class="" style="width: 100%;">
                          <form action="/create/department/<%=departmentDetails.departmentCode%>/leader-voting-pole" method="post">
                            <button class="btn  btn-info btn-sm btn-block">Create New Leader Selection Pole</button>
                          </form>
                        </div>
                      </div> 
                    </div>
                </div>
              <%}%>
              <!-- Leader section ends -->
          </div>
        </div>

        <hr>
    <%if(checkData.isDepartmentLeader){%>
      <%if(departmentDetails.newBatchMemberRequests.length){%>
        <div class="item-container path">
          <strong><h5>New Membersip Requests (<%=departmentDetails.newBatchMemberRequests.length%>)</h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <%if(departmentDetails.newBatchMemberRequests.length==1){%>
              <div class="col">
                <div class="member-container align-items-center">
                  <img class="member-avatar"  src="/image/profile/medium/profile-<%=departmentDetails.newBatchMemberRequests[0].regNumber%>" alt="">
                  <div class="name-container">
                    <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=departmentDetails.newBatchMemberRequests[0].regNumber%>/profile"><%=departmentDetails.newBatchMemberRequests[0].userName%></a></strong>
                    <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                  </div>
                  <a class="d-block" href="/verification/case2/<%=departmentDetails.newBatchMemberRequests[0].regNumber%>/page">
                    <div class="btn btn-warning btn-sm mr-1">Verify Account</div>
                  </a>
                </div>
              </div>
            <%}else{%>
              <%let middleIndex=parseInt(departmentDetails.newBatchMemberRequests.length/2)%>
              <div style="display: flex;    flex-wrap: wrap;">
                <div class="col-md-6 left-member-container" >
                  <%for(let i=0;i<middleIndex;i++){%>
                    <div class="member-container align-items-center">
                      <img class="member-avatar"  src="/image/profile/medium/profile-<%=departmentDetails.newBatchMemberRequests[i].regNumber%>">
                      <div class="name-container">
                        <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=departmentDetails.newBatchMemberRequests[i].regNumber%>/profile"><%=departmentDetails.newBatchMemberRequests[i].userName%></a></strong>
                      </div>
                      <a class="d-block" href="/verification/case2/<%=departmentDetails.newBatchMemberRequests[i].regNumber%>/page">
                        <div class="btn btn-warning btn-sm mr-1">Verify Account</div>
                      </a>
                    </div>
                  <%}%>
                </div>
                <div class="col-md-6 right-member-container" >
                  <%for(let j=middleIndex;j<departmentDetails.newBatchMemberRequests.length;j++){%>
                    <div class="member-container align-items-center">
                      <img class="member-avatar"  src="/image/profile/medium/profile-<%=departmentDetails.newBatchMemberRequests[j].regNumber%>" alt="">
                      <div class="name-container">
                        <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=departmentDetails.newBatchMemberRequests[j].regNumber%>/profile"><%=departmentDetails.newBatchMemberRequests[j].userName%></a></strong>
                      </div>
                      <a class="d-block" href="/verification/case2/<%=departmentDetails.newBatchMemberRequests[j].regNumber%>/page">
                        <div class="btn btn-warning btn-sm mr-1">Verify Account</div>
                      </a>
                    </div>
                  <%}%>
                </div>
              </div>
            <%}%>
        </div>
        <hr>
      <%}%>
    <%}%>

        <h5 class="text-primary text-center"><strong >Department Details</strong></h5>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="">
              <div class="item-container mb-2">
                <strong><h5 class="bolder">Present Leaders</h5></strong>
                <hr style="margin-bottom: .25rem;margin-top: 0rem;">
                <strong class="d-block text-info">Main Lead :</strong>
                <%if(departmentDetails.presentLeader){%>
                  <div class=" student-room-container" >
                    <div class="d-flex align-items-center">
                      <div >
                        <img class="avatar-small"  src="/image/profile/small/profile-<%=departmentDetails.presentLeader.regNumber%>" alt="">
                      </div>
                      <div class="ml-2">
                        <span class="d-block"><strong >Name : </strong><%=departmentDetails.presentLeader.userName%></span>
                        <span class="d-block"><strong >Phone : </strong><%=departmentDetails.presentLeader.phone%></span>
                      </div>
                    </div>
                    <%if(departmentDetails.presentLeader.votingPoleId!="auto"){%>
                    <a  href="/leader-voting/<%=departmentDetails.presentLeader.votingPoleId%>/details">
                      <i class="text-info">Go to voting details...</i>
                    </a>
                    <%}else{%>
                      <i class="text-warning">(Default Leader)</i>
                    <%}%>
                  </div>
                <%}else{%>
                  <div class="btn btn-lg btn-block btn-info">Leader not available!!</div>
                <%}%>
                <strong class="d-block text-info">Assistant Lead :</strong>
                <%if(departmentDetails.previousLeader){%>
                  <div class=" student-room-container" >
                    <div class="d-flex align-items-center">
                      <div >
                        <img class="avatar-small"  src="/image/profile/small/profile-<%=departmentDetails.previousLeader.regNumber%>" alt="">
                      </div>
                      <div class="ml-2">
                        <span class="d-block"><strong >Name : </strong><%=departmentDetails.previousLeader.userName%></span>
                        <span class="d-block"><strong >Phone : </strong><%=departmentDetails.previousLeader.phone%></span>
                      </div>
                    </div>
                    <%if(departmentDetails.previousLeader.votingPoleId!="auto"){%>
                      <a  href="/leader-voting/<%=departmentDetails.previousLeader.votingPoleId%>/details">
                        <i class="text-info">Go to voting details...</i>
                      </a>
                      <%}else{%>
                        <i class="text-warning">(Default Leader)</i>
                      <%}%>
                  </div>
                <%}else{%>
                  <div class="btn btn-lg btn-block btn-info">Leader not available!!</div>
                <%}%>
              </div>
    
              <div class="item-container mb-2 allLeadersContainer" >
                <strong><h5 class="bolder">All Present Leaders (<%=departmentDetails.allPresentLeaders.length%>)</h5></strong>
                <hr style="margin-bottom: .55rem;margin-top: 0rem;">
                <%if(!departmentDetails.allPresentLeaders.length){%>
                  <div class="btn btn-lg btn-block btn-info">There is no leader available!!</div>
                <%}else{%>
                  <%departmentDetails.allPresentLeaders.forEach((leader)=>{%>
                    <div class="d-flex align-items-center student-room-container" >
                      <div >
                        <img class="avatar-small"  src="/image/profile/small/profile-<%=leader.regNumber%>" alt="">
                      </div>
                      <div class="ml-2">
                        <span class="d-block"><strong >Name : </strong><%=leader.userName%></span>
                      </div>
                    </div>
                  <%})%>
                <%}%>
              </div>
            </div>

            <a href="/department/<%=departmentDetails.departmentCode%>/previous-details">
              <div class="btn btn-block btn-info btn-sm">
                Department's previous details ->
              </div>
            </a>
            
            <hr>
          </div>
          <div class="col-md-8" >
            <h5 class="bolder text-center">Last Activity</h5>
            <div class=" mb-2">
              <%if(previousActivityData){%>
                <%- include('includes/previous-activity-banner') %>
              <%}else{%>
                <%- include('includes/no-activity-banner') %>
              <%}%>
            </div>
            <hr>
            <a href="/activities/all/department/<%=departmentDetails.departmentCode%>">
              <div class="btn btn-block btn-secondary btn-md">See all completed activities -></div>
            </a>
          </div>
        </div>
    
        <hr>
          <div class="item-container">
            <strong><h5 class="bolder">All Present Members (<%=departmentDetails.allPresentMembers.length%>)</h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <%if(!departmentDetails.allPresentMembers.length){%>
              <div class="btn btn-lg btn-block btn-info">There is no member available!!</div>
            <%}else{%>  
              <%if(departmentDetails.allPresentMembers.length==1){%>
                <div class="col">
                  <div class="member-container">
                    <img class="member-avatar"  src="/image/profile/medium/profile-<%=departmentDetails.allPresentMembers[0].regNumber%>" alt="">
                    <div class="name-container">
                      <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=departmentDetails.allPresentMembers[0].regNumber%>/profile"><%=departmentDetails.allPresentMembers[0].userName%></a></strong>
                      <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                    </div>
                  </div>
                </div>
              <%}else{%>
                <%let middle=parseInt(departmentDetails.allPresentMembers.length/2)%>
                <div style="display: flex;    flex-wrap: wrap;">
                  <div class="col-md-6 left-member-container" >
                    <%for(let i=0;i<middle;i++){%>
                      <div class="member-container">
                        <img class="member-avatar"  src="/image/profile/medium/profile-<%=departmentDetails.allPresentMembers[i].regNumber%>" alt="">
                        <div class="name-container">
                          <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=departmentDetails.allPresentMembers[i].regNumber%>/profile"><%=departmentDetails.allPresentMembers[i].userName%></a></strong>
                          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                        </div>
                      </div>
                    <%}%>
                  </div>
                  <div class="col-md-6 right-member-container" >
                    <%for(let j=middle;j<departmentDetails.allPresentMembers.length;j++){%>
                    <div class="member-container">
                      <img class="member-avatar"  src="/image/profile/medium/profile-<%=departmentDetails.allPresentMembers[j].regNumber%>" alt="">
                      <div class="name-container">
                        <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=departmentDetails.allPresentMembers[j].regNumber%>/profile"><%=departmentDetails.allPresentMembers[j].userName%></a></strong>
                        <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                      </div>
                    </div>
                    <%}%>
                  </div>
                </div>
              <%}%>
            <%}%>
          </div> 
      </div>
      <div class="col-lg notVisibleOnCollapse" >
      </div>
    </div>
  
    
    
    <!-- New design from upper section -->
  
<%- include('includes/footer') %>

















