<%- include('includes/header') %> 
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7" >

    <h5 class="bolder text-primary pt-1 text-center"><strong>Department details</strong></h5>
    <div class="single-batch-container">
      <div class="single-batch-data pb-4">
        <div style="position: relative;">
          <img class="single-batch-image"  src="/images/sponsor-banner3.png" alt="">
          <div class="text-success text-center"><strong>Department name : <%=departmentDetails.departmentName%></strong></div>
        </div>
        <hr>
            <div class="container">
              <h5><strong>Department Details :</strong></h5>
              <ul class="list-group">
                <%if(departmentDetails.activeBatches.firstYear){%>
                  <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                    <div>
                      <span class="d-block"><strong>First Year Batch</strong></span>
                      <span class="d-block"><strong>Session : <%=departmentDetails.activeBatches.firstYear.sessionYear%> </strong></span>
                    </div>
                    <div>
                      <a href="/batch/<%=departmentDetails.activeBatches.firstYear.batchId%>/details"  class="btn btn-primary btn-sm">Batch Details</a>
                    </div>
                  </li>
                <%}%>
                <%if(departmentDetails.activeBatches.secondYear){%>
                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                  <div>
                    <span class="d-block"><strong>Second Year Batch</strong></span>
                    <span class="d-block"><strong>Session : <%=departmentDetails.activeBatches.secondYear.sessionYear%> </strong></span>
                  </div>
                  <div>
                    <a href="/batch/<%=departmentDetails.activeBatches.secondYear.batchId%>/details"  class="btn btn-primary btn-sm">Batch Details</a>
                  </div>
                </li>
                <%}%>
                <%if(departmentDetails.activeBatches.thirdYear){%>
                  <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                    <div>
                      <span class="d-block"><strong>Third Year Batch</strong></span>
                      <span class="d-block"><strong>Session : <%=departmentDetails.activeBatches.secondYear.sessionYear%> </strong></span>
                    </div>
                    <div>
                      <a href="/batch/<%=departmentDetails.activeBatches.secondYear.batchId%>/details"  class="btn btn-primary btn-sm">Batch Details</a>
                    </div>
                  </li>
                <%}%>
                <%if(departmentDetails.activeBatches.seniours){%>
                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                  <div>
                    <span class="d-block"><strong>Seniour's Batch</strong></span>
                    <span class="d-block"><strong>Session : <%=departmentDetails.activeBatches.seniours.sessionYear%> </strong></span>
                  </div>
                  <div>
                    <a href="/batch/<%=departmentDetails.activeBatches.seniours.batchId%>/details"  class="btn btn-primary btn-sm">Batch Details</a>
                  </div>
                </li>
                <%}%>
              </ul>
            </div>
          
        <hr>
        <h4 class="text-center text-success"><strong>Leader Board</strong> </h4>
        <hr>
        <div class="ml-2 mr-2 mb-1">
          <h5><strong>Activities :</strong></h5>
          <div class="container">
            <%if(!departmentDetails.presentActivity){%>
              <%if(checkData.isPresentLeader || checkData.isPreviousLeader){%>
              <a href="/activity/department/<%=departmentDetails.departmentCode%>/create" class="btn btn-block btn-primary btn-lg">
                Create New Departmental Activity
              </a>
              <%}%>
            <%}else{%>
              <div class="card">
                present activity details will be here
              </div>
            <%}%>
          </div>
        </div>
        <hr>
        <div class="ml-2 mr-2 mb-1">
          <h5><strong>Present Leader :</strong></h5>
          <%if(departmentDetails.presentLeader){%>
            <div class="student-room-container" style="display: flex;width: 100%;">
              <div class="mr-2" >
                <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="" alt="">
              </div>
              <div class="row"  style="width: 100%;">
                <div class="col-sm-6"  style="width: 100%;display: flex;">
                  <div style="width: 100%;">
                    <strong class="d-block">Name : <%=departmentDetails.presentLeader.userName%></strong>
                    <strong class="d-block">Phone Number : <%=departmentDetails.presentLeader.phone%></strong>
                  </div>
                </div>
                <div class="col-sm-6 " style="margin: auto;">
                  <div class="float-btn" style="display: flex;">
                    <a href="/student/<%=departmentDetails.presentLeader.regNumber%>/profile">
                      <%if(checkData.isPresentLeader){%>
                        <div class="btn btn-warning btn-sm mr-1">Your profile</div>
                      <%}else{%>
                        <div class="btn btn-primary btn-sm mr-1">View profile</div>
                      <%}%>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <%}else{%>
            <div class="btn btn-lg btn-block btn-info">There is no present leader available!!</div>
          <%}%>
        </div>
      
        <hr>
        <div class="ml-2 mr-2 mb-1">
          <h5><strong>Previous Leader :</strong></h5>
          <%if(departmentDetails.previousLeader){%>
            <div class="student-room-container" style="display: flex;width: 100%;">
              <div class="mr-2" >
                <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="" alt="">
              </div>
              <div class="row"  style="width: 100%;">
                <div class="col-sm-6"  style="width: 100%;display: flex;">
                  <div style="width: 100%;">
                    <strong class="d-block">Name : <%=departmentDetails.previousLeader.userName%></strong>
                    <strong class="d-block">Phone :  <%=departmentDetails.previousLeader.phone%></strong>
                  </div>
                </div>
                <div class="col-sm-6 " style="margin: auto;">
                  <div class="float-btn" style="display: flex;">
                    <a href="/student/<%=departmentDetails.previousLeader.regNumber%>/profile">
                      <%if(checkData.isPreviousLeader){%>
                        <div class="btn btn-warning btn-sm mr-1">Your profile</div>
                      <%}else{%>
                        <div class="btn btn-primary btn-sm mr-1">View profile</div>
                      <%}%>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <%}else{%>
              <div class="btn btn-lg btn-block btn-info">There is no previous leader available!!</div>
            <%}%>
        </div>

        <hr>
        <div class="ml-2 mr-2 mb-1">
          <h5><strong>All Leaders :</strong></h5>
          <%if(!departmentDetails.allLeaders.length){%>
            <div class="btn btn-lg btn-block btn-info">There is no leader available!!</div>
          <%}else{%>
            <%departmentDetails.allLeaders.forEach((leader)=>{%>
              <div class="student-room-container" style="display: flex;width: 100%;">
                <div class="mr-2" >
                  <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="" alt="">
                </div>
                <div class="row"  style="width: 100%;">
                  <div class="col-sm-6"  style="width: 100%;display: flex;">
                    <div style="width: 100%;">
                      <strong class="d-block">Name : <%=leader.userName%></strong>
                      <%if(checkData.isBatchMember){%>
                        <strong class="d-block">Phone : <%=leader.phone%></strong>
                      <%}%>
                    </div>
                  </div>
                  <div class="col-sm-6 " style="margin: auto;">
                    <div class="float-btn" style="display: flex;">
                      <a href="/student/<%=leader.regNumber%>/profile">
                        <%if(user.regNumber==leader.regNumber){%>
                          <div class="btn btn-warning btn-sm mr-1">Your profile</div>
                        <%}else{%>
                          <div class="btn btn-primary btn-sm mr-1">View profile</div>
                        <%}%>
                      </a>
                    </div>
                  </div>
                </div>              
              </div>
            <%})%>
          <%}%>
        </div>


        <hr>
        <div class="ml-2 mr-2 mb-1">
          <h5><strong>All Department Members :</strong></h5>
          <%if(!departmentDetails.allPresentMembers.length){%>
            <div class="btn btn-lg btn-block btn-info">There is no leader available!!</div>
          <%}else{%>
            <%departmentDetails.allPresentMembers.forEach((member)=>{%>
              <div class="student-room-container" style="display: flex;width: 100%;">
                <div class="mr-2" >
                  <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="" alt="">
                </div>
                <div class="row"  style="width: 100%;">
                  <div class="col-sm-6"  style="width: 100%;display: flex;">
                    <div style="width: 100%;">
                      <strong class="d-block">Name : <%=member.userName%></strong>
                    </div>
                  </div>
                  <div class="col-sm-6 " style="margin: auto;">
                    <div class="float-btn" style="display: flex;">
                      <a href="/student/<%=member.regNumber%>/profile">
                        <%if(user.regNumber==member.regNumber){%>
                          <div class="btn btn-warning btn-sm mr-1">Your profile</div>
                        <%}else{%>
                          <div class="btn btn-primary btn-sm mr-1">View profile</div>
                        <%}%>
                      </a>
                    </div>
                  </div>
                </div>              
              </div>
            <%})%>
          <%}%>
          
        </div>

        <hr>

        <%if(checkData.isDepartmentLeader){%>
          <hr>
          <div class="ml-2 mr-2 mb-1">
            <h5><strong>All New Membership Requests :</strong></h5>
            <%if(!departmentDetails.newBatchMemberRequests.length){%>
              <div class="btn btn-lg btn-block btn-info">There is no member available!!</div>
            <%}else{%>
              <%departmentDetails.newBatchMemberRequests.forEach((member)=>{%>
                <div class="student-room-container" style="display: flex;width: 100%;">
                  <div class="mr-2" >
                    <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="" alt="">
                  </div>
                  <div class="row"  style="width: 100%;">
                    <div class="col-sm-6"  style="width: 100%;display: flex;">
                      <div style="width: 100%;">
                        <strong class="d-block">Name : <%=member.userName%></strong>
                        <strong class="d-block">Phone : <%=member.phone%></strong>
                      </div>
                    </div>
                    <div class="col-sm-6 " style="margin: auto;">
                      <div class="float-btn" style="display: flex;">
                        <a href="/verification/case2/<%=member.regNumber%>/page">
                          <div class="btn btn-primary btn-sm mr-1">Verify Account</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              <%})%>
            <%}%>
          </div>
        <%}%>
        <hr>
        <div class="container">
          <h5><strong>X-Batches :</strong></h5>
          <ul class="list-group">
            <%departmentDetails.XBatches.forEach((batch)=>{%>
              <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                <div>
                  <span class="d-block"><strong>Session : <%=batch.sessionYear%> </strong></span>
                </div>
                <div>
                  <a href="/batch/<%=batch.batchId%>/details"  class="btn btn-primary btn-sm">Batch Details</a>
                </div>
              </li>
            <%})%>
          </ul>
        </div>

        </div>
      </div>

    </div>
  <div class="col-lg"></div>
</div>



<%- include('includes/footer') %>

















