
<%- include('includes/header') %> 
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <div>
          <img class="department-batch-group-cover-image" src="/image/group-banner/large/<%=groupDetails.groupId%>" width="1000" height="250"/>
          <%if(checkData.isPresentLeader || checkData.isPreviousLeader){%>
            <div style="position: absolute;right: 10px;top: 10px;">
              <h3 type="button" class="text-info" data-toggle="modal" data-target="#bannerPicUploadCenter"><i class="fas fa-camera-retro"></i></h3>
              <!-- Modal -->
              <div class="modal fade" id="bannerPicUploadCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Upload Cover Picture</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/upload-group-banner/<%=groupDetails.groupId%>" method="post" enctype="multipart/form-data">
                        <div class="form-group text-left">
                          <label class="form-label" for="customFile">Choose Department Banner Photo (jpeg/png)</label>
                          <input type="file" name="image" class="form-control" id="customFile" />
                        </div>
                        <div style="text-align: left;">
                          <button class="btn btn-success btn-sm ">Upload</button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ----------model ends------- -->
            </div>
            <%}%>
          </div>
        <div class="text-center">
          <h5>
            <strong>
              <span class="text-primary" > Group Name : <%=groupDetails.groupName%></span>
            </strong>
          </h5>  
        </div>
      </div>  
      <hr>
          <div class="d-flex justify-content-center">
            <%groupDetails.presentDepartments.forEach((department)=>{%>
              <a href="/department/<%=department.departmentCode%>/details"><span class="button"><%=department.departmentName%></span></a>
            <%})%>
          </div>
          <hr>
    </div>

    <div class=" mt-2 mb-2" >
      <div class=" designed-container text-secondary" >
        <!-- activity board starts here -->
        <%let gotoText=null%>
        <%let gotoLink=null%>  
        <div style="display: flex;    flex-wrap: wrap;">
          <div class="col-lg-6">
            <strong style="color:#fff;"><h5>Activity Board :
              <%if(groupDetails.isVoteGoingOn || groupDetails.presentActivity){%>
                <span class="badge badge-pill badge-warning">Activity On</span>
              <%}else{%>
                <span class="badge badge-pill badge-secondary">No Activity</span>
              <%}%>
            </h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <div class="member-container d-block" style="height:8rem ;max-height:8rem ;overflow-y: scroll;">
              <!-- activity details contsiner starts | Voting board + Activity Board-->
              <%if(groupDetails.isVoteGoingOn){%>
              <!--Voting related informations starts--> 
                <%gotoLink="/leader-voting/"+groupDetails.leaderVotingData.votingPoleId+"/details"%>
                <%gotoText="Go to voting pole"%> 
                <h5 class="bolder text-warning text-center"><strong>Leader Voting is Going On</strong></h5>
                <hr style="margin-bottom: .2rem;margin-top: 0rem;">
                <%if(groupDetails.leaderVotingData.votingDates.resultDate){%>
                  <%gotoText="See the voting result"%> 
                  <h6 class="bolder text-warning text-center" style="margin-bottom:0px"><strong>Result has published !!</strong></h6>
                  <%if(groupDetails.leaderVotingData.wonLeader.regNumber==user.regNumber){%>
                    <%gotoText="See the voting details"%>
                    <strong  class="d-block text-info text-center">Congrats!! You have won the election.Accept yourself as a leader.</strong>
                  <%}else{%>
                    <%gotoText="See the voting result"%>
                    <strong  class="d-block text-info text-center">New Leader will be added when he/she will accept himself/herself as a new leader.</strong>  
                  <%}%>
                  <strong  class="d-block text-primary">Won Leader : <span class="text-secondary"><%=groupDetails.leaderVotingData.wonLeader.userName%></span></strong> 
                  <strong  class="d-block text-primary">Result Date : <span class="text-secondary"><%= groupDetails.leaderVotingData.votingDates.resultDate.getDate() %> <%=groupDetails.leaderVotingData.votingDates.resultDate.toLocaleString('default', { month: 'short' }) %> , <%= groupDetails.leaderVotingData.votingDates.resultDate.getFullYear() %> at <%=groupDetails.leaderVotingData.votingDates.resultDate.getHours()%>:<%=groupDetails.leaderVotingData.votingDates.resultDate.getMinutes()%></span></strong>
                  <hr>
                <%}%>
                <strong  class="d-block text-primary">Pole Created Date : <span class="text-secondary"><%= groupDetails.leaderVotingData.votingDates.createdDate.getDate() %> <%=groupDetails.leaderVotingData.votingDates.createdDate.toLocaleString('default', { month: 'short' }) %> , <%= groupDetails.leaderVotingData.votingDates.createdDate.getFullYear() %> at <%=groupDetails.leaderVotingData.votingDates.createdDate.getHours()%>:<%=groupDetails.leaderVotingData.votingDates.createdDate.getMinutes()%></span> </strong> 
                <strong  class="d-block text-primary">Nomination Last Date : <span class="text-secondary"><%= groupDetails.leaderVotingData.votingDates.nominationLastDate.getDate() %> <%=groupDetails.leaderVotingData.votingDates.nominationLastDate.toLocaleString('default', { month: 'short' }) %> , <%= groupDetails.leaderVotingData.votingDates.nominationLastDate.getFullYear() %> at <%=groupDetails.leaderVotingData.votingDates.nominationLastDate.getHours()%>:<%=groupDetails.leaderVotingData.votingDates.nominationLastDate.getMinutes()%></span></strong>
                <strong  class="d-block text-primary">Voting Last Date : <span class="text-secondary"><%= groupDetails.leaderVotingData.votingDates.votingLastDate.getDate() %> <%=groupDetails.leaderVotingData.votingDates.votingLastDate.toLocaleString('default', { month: 'short' }) %> , <%= groupDetails.leaderVotingData.votingDates.votingLastDate.getFullYear() %> at <%=groupDetails.leaderVotingData.votingDates.votingLastDate.getHours()%>:<%=groupDetails.leaderVotingData.votingDates.votingLastDate.getMinutes()%></span></strong>
              <!--Voting related informations ends-->
              <%}else if(groupDetails.presentActivity){%>
                <%gotoLink="/activity/"+groupDetails.presentActivity.activityId+"/details"%>
                <!--Activity related informations starts-->  
                <h5 class="bolder text-warning text-center"><strong>Group Activity is Going On</strong></h5>
                <hr style="margin-bottom: .2rem;margin-top: 0rem;">
                <%if(groupDetails.presentActivity.isTopicByVote && !groupDetails.presentActivity.isVoteCompleted){%>
                  <h6 class="bolder text-warning text-center" style="margin-bottom:0px"><strong>Topic voting is going on!!</strong></h6>
                  <%if(checkData.isGroupMember){%>
                    <%gotoText="Give topic vote"%>
                    <strong  class="d-block text-info text-center">Topic for next activity is going to be selected by voting.Please give your vote.</strong>
                  <%}else{%>
                    <%gotoText="Go to topic voting page"%>
                    <strong  class="d-block text-info text-center">Topic selection for next activity is going on.</strong> 
                  <%}%>    
                <%}else{%>
                  <%gotoText="Check activity status"%>
                  <h6  class="d-block bolder text-primary mb-0 text-center"><strong>Activity Short Details </strong> </h6>
                  <strong class="d-block"><span class="text-primary">Topic :</span> <%=groupDetails.presentActivity.topic%></strong>
                  <strong class="d-block"><span class="text-primary">Title :</span> <%=groupDetails.presentActivity.title%></strong>
                <%}%> 
                <!--Activity related informations ends-->
              <%}else{%>
                <%if(checkData.isPresentLeader || checkData.isPreviousLeader){%>
                  <%gotoText="Create new activity"%>
                  <%gotoLink="/activity/group/"+groupDetails.groupId+"/create"%>
                  <h6  class="d-block bolder text-warning mb-0 text-center"><strong>No Activity available!! </strong> </h6>
                  <strong  class="d-block text-info text-center">As a present leader you should create an activity.Do some creative activity on your leadership.</strong>
                <%}else{%>
                  <%if(checkData.isGroupMember){%>
                    <h6  class="d-block bolder text-warning mb-0 text-center"><strong>No Activity available!! </strong> </h6>
                    <div class="d-block text-info text-center">Contact with the present leader to create new activity!!</div>
                  <%}else{%>
                    <h5 class=" text-warning text-center"><strong>Not Activity Going On !!</strong></h5>
                  <%}%>
                <%}%>
              <%}%> 
              <!-- activity details contsiner ends -->
            </div>
            <!-- activity goto link starts -->
            <%if(gotoLink){%>
              <a href="<%=gotoLink%>" class="btn btn-block btn-primary"><%=gotoText%> <i class="fas fa-arrow-right"></i></a>
            <%}else{%>
              <div class="btn btn-block btn-primary disabled">No activity available!!</div>
            <%}%>
            <!-- activity goto link ends -->
          </div>
          <!-- Activity board ends here -->
          <!-- source notification part starts here -->
          <div class="col-lg-6 add-padding-on-collups">
            <strong style="color:#fff;"><h5>Notification Board : 
              <%if(sourceNotifications.length){%>
                <%if(checkData.newSourceNotifications){%>
                  <span class="badge badge-pill badge-warning">New</span>
                <%}else{%>
                  <span class="badge badge-pill badge-secondary">Old</span>
                <%}%>
              <%}%>
            </h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <div class="member-container d-block" style="height:8rem ;overflow-y: scroll;">
              <%if(!sourceNotifications.length){%>
                <div class="btn btn-block btn-info">No notification available!!</div>
              <%}else{%>
              <%sourceNotifications.forEach((notification)=>{%>
                <div class="notification-container mb-1 not-viewed">
                  <div style="display: flex;width: 100%;">
                      <div class="row"  style="width: 100%;">
                        <div class="col"  style="width: 100%;">
                          <div style="width: 100%;">
                            <strong class="bolder"><%=notification.message%></strong>  
                          </div>
                        </div>
                      </div>
                  </div>
                  <%if(notification.gotoText){%>
                    <hr style="padding: 0;margin: 0;">
                    <div class="ml-1" >
                      <a class="d-inline bolder text-primary mr-3" href="<%=notification.gotoLink%>"> <%=notification.gotoText%></a>
                      <strong class="float-right"><i><%= notification.createdDate.getDate() %>/<%= notification.createdDate.getMonth() + 1 %>/<%= notification.createdDate.getFullYear() %></i></strong> 
                    </div>
                  <%}%>
                </div>
              <%})%>
              <%}%>
            </div>
            <a href="/source/group/<%=groupDetails.groupId%>/notifications" class="btn btn-block btn-info">See all notifications <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
        <!-- source notification part ends here -->
        <!-- daysOut will be true if present leader selected before 15 days -->
        
          <%if(checkData.isPresentLeader && !groupDetails.isVoteGoingOn && !groupDetails.presentActivity && checkData.isLeaderMoreThen50Days){%>
            <hr>
            <div class="member-container mt-2">
                <div>
                  <h5 class="bolder text-primary"><strong>New Leader Selection voting pole creation:</strong></h5>
                  <h6 class="bolder text-warning"><strong>Your activation date : </strong><%= groupDetails.presentLeader.createdDate.getDate() %> <%=groupDetails.presentLeader.createdDate.toLocaleString('default', { month: 'short' }) %> , <%= groupDetails.presentLeader.createdDate.getFullYear() %> at <%=groupDetails.presentLeader.createdDate.getHours()%>:<%=groupDetails.presentLeader.createdDate.getMinutes()%></h6>
                  <h6 class="bolder text-danger">[You become main leader on this group before more then 50 days,still you have not initiate any activity.If you are not interested to lead any more,you can resign by creating a new leader selection voting pole.]</h6>
                  <div class="container">
                    <div class="" style="width: 100%;">
                      <form action="/create/group/<%=groupDetails.groupId%>/leader-voting-pole" method="post">
                        <button class="btn  btn-info btn-sm btn-block">Create New Leader Selection Pole</button>
                      </form>
                    </div>
                  </div> 
                </div>
            </div>
          <%}%>
            <!-- Leader section ends -->
      </div>
    </div>

    <hr>
    <h5 class="text-primary text-center"><strong >Group Details</strong></h5>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="">
          <div class="item-container mb-2">
            <strong><h5 class="bolder">Present Leaders</h5></strong>
            <strong class="d-block text-info">Main Lead :</strong>
                <%if(groupDetails.presentLeader){%>
                  <div class=" student-room-container" >
                    <div class="d-flex align-items-center">
                      <div >
                        <img class="avatar-small"  src="/image/profile/small/profile-<%=groupDetails.presentLeader.regNumber%>" alt="">
                      </div>
                      <div class="ml-2">
                        <span class="d-block"><strong >Name : </strong><%=groupDetails.presentLeader.userName%></span>
                        <span class="d-block"><strong >Dept : </strong><%=groupDetails.presentLeader.departmentName%></span>
                        <span class="d-block"><strong >Phone : </strong><%=groupDetails.presentLeader.phone%></span>
                      </div>
                    </div>
                    <%if(groupDetails.presentLeader.votingPoleId!="auto"){%>
                    <a  href="/leader-voting/<%=groupDetails.presentLeader.votingPoleId%>/details">
                      <i class="text-info">Go to voting details...</i>
                    </a>
                    <%}else{%>
                      <i class="text-warning">(Default Leader)</i>
                    <%}%>
                  </div>
                <%}else{%>
                  <div class="btn btn-lg btn-block btn-info">Leader not available!!</div>
                <%}%>
                <strong class="d-block text-info">Assistant Lead :</strong>
                <%if(groupDetails.previousLeader){%>
                  <div class=" student-room-container" >
                    <div class="d-flex align-items-center">
                      <div >
                        <img class="avatar-small"  src="/image/profile/small/profile-<%=groupDetails.previousLeader.regNumber%>" alt="">
                      </div>
                      <div class="ml-2">
                        <span class="d-block"><strong >Name : </strong><%=groupDetails.previousLeader.userName%></span>
                        <span class="d-block"><strong >Dept : </strong><%=groupDetails.previousLeader.departmentName%></span>
                        <span class="d-block"><strong >Phone : </strong><%=groupDetails.previousLeader.phone%></span>
                      </div>
                    </div>
                    <%if(groupDetails.previousLeader.votingPoleId!="auto"){%>
                      <a  href="/leader-voting/<%=groupDetails.previousLeader.votingPoleId%>/details">
                        <i class="text-info">Go to voting details...</i>
                      </a>
                      <%}else{%>
                        <i class="text-warning">(Default Leader)</i>
                      <%}%>
                  </div>
                <%}else{%>
                  <div class="btn btn-lg btn-block btn-info">Leader not available!!</div>
                <%}%>
          </div>

          <div class="item-container mb-2 allLeadersContainer" >
            <strong><h5 class="bolder">All Present Leaders (<%=groupDetails.allPresentLeaders.length%>)</h5></strong>
            <hr style="margin-bottom: .55rem;margin-top: 0rem;">
            <%if(!groupDetails.allPresentLeaders.length){%>
              <div class="btn btn-lg btn-block btn-info">There is no leader available!!</div>
            <%}else{%>
              <%groupDetails.allPresentLeaders.forEach((leader)=>{%>
                <div class="d-flex align-items-center student-room-container" >
                  <div >
                    <img class="avatar-small"  src="/image/profile/small/profile-<%=leader.regNumber%>" alt="">
                  </div>
                  <div class="ml-2">
                    <span class="d-block"><strong >Name : </strong><%=leader.userName%></span>
                    <span class="d-block"><strong >Dept : </strong><%=leader.departmentName%></span>
                  </div>
                </div>
              <%})%>
            <%}%>
          </div>
          <a href="/group/<%=groupDetails.groupId%>/previous-details">
            <div class="btn btn-block btn-info btn-sm">
              Group's previous details ->
            </div>
          </a>
        </div>

        <hr>
      </div>
      <div class="col-md-8" >
        <h5 class="bolder text-center">Last Activity</h5>
        <div class=" mb-2">
          <%if(previousActivityData){%>
            <%- include('includes/previous-activity-banner') %>
          <%}else{%>
            <%- include('includes/no-activity-banner') %>
          <%}%>
        </div>
        <hr>
        <a href="/activities/all/group/<%=groupDetails.groupId%>">
          <div class="btn btn-block btn-secondary btn-md">See all completed activities -></div>
        </a>
      </div>
    </div>

    <hr>
        <div class="item-container">
          <strong><h5 class="bolder">All Present Members (<%=groupDetails.allPresentMembers.length%>)</h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <%if(!groupDetails.allPresentMembers.length){%>
              <div class="btn btn-lg btn-block btn-info">There is no member available!!</div>
            <%}else{%>  
              <%if(groupDetails.allPresentMembers.length==1){%>
                <div class="col">
                  <div class="member-container">
                    <img class="member-avatar"  src="/image/profile/medium/profile-<%=groupDetails.allPresentMembers[0].regNumber%>" alt="">
                    <div class="name-container">
                      <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=groupDetails.allPresentMembers[0].regNumber%>/profile"><%=groupDetails.allPresentMembers[0].userName%></a> | <span class="text-secondary"> Dept : <%=groupDetails.allPresentMembers[0].departmentName%></span></strong>
                      <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                    </div>
                  </div>
                </div>
              <%}else{%>
                <%let middle=parseInt(groupDetails.allPresentMembers.length/2)%>
                <div style="display: flex;    flex-wrap: wrap;">
                  <div class="col-md-6 left-member-container" >
                    <%for(let i=0;i<middle;i++){%>
                      <div class="member-container">
                        <img class="member-avatar"  src="/image/profile/medium/profile-<%=groupDetails.allPresentMembers[i].regNumber%>" alt="">
                        <div class="name-container">
                          <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=groupDetails.allPresentMembers[i].regNumber%>/profile"><%=groupDetails.allPresentMembers[i].userName%></a> | <span class="text-secondary">Dept : <%=groupDetails.allPresentMembers[i].departmentName%></span></strong>
                          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                        </div>
                      </div>
                    <%}%>
                  </div>
                  <div class="col-md-6 right-member-container" >
                    <%for(let j=middle;j<groupDetails.allPresentMembers.length;j++){%>
                    <div class="member-container">
                      <img class="member-avatar"  src="/image/profile/medium/profile-<%=groupDetails.allPresentMembers[j].regNumber%>" alt="">
                      <div class="name-container">
                        <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=groupDetails.allPresentMembers[j].regNumber%>/profile"><%=groupDetails.allPresentMembers[j].userName%></a> | <span class="text-secondary">Dept : <%=groupDetails.allPresentMembers[j].departmentName%></span></strong>
                        <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                      </div>
                    </div>
                    <%}%>
                  </div>
                </div>
              <%}%>
            <%}%>
        </div> 
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
<%if(user){%>
  <%if(user.otherData.groupId==groupDetails.groupId){%>
    <span id="student-group-page"></span>
  <%}%>
<%}%>

<!-- New design from upper section -->



<%- include('includes/footer') %>

















