<%- include('includes/header') %> 
<%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <div>
          <img class="department-batch-group-cover-image" src="/image/batch-banner/large/<%=batchDetails.batchId%>" />
          <%if(checkData.isPresentLeader || checkData.isPreviousLeader){%>
          <div style="position: absolute;right: 10px;top: 10px;">
            <h3 type="button" class="text-info" data-toggle="modal" data-target="#bannerPicUploadCenter"><i class="fas fa-camera-retro"></i></h3>
            <!-- Modal -->
            <div class="modal fade" id="bannerPicUploadCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Upload Cover Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/upload-batch-banner/<%=batchDetails.batchId%>" method="post" enctype="multipart/form-data">
                      <div class="form-group text-left">
                        <label class="form-label" for="customFile">Choose Batch Banner Photo (jpeg/png)</label>
                        <input type="file" name="image" class="form-control" id="customFile" />
                      </div>
                      <div style="text-align: left;">
                        <button class="btn btn-success btn-sm ">Upload</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ----------model ends------- -->
          </div>
          <%}%>
        </div>
        <div class="text-center">
          <h5>
            <strong>
              <span class="text-primary d-block" > Department :<a href="/department/<%=batchDetails.batchId.slice(4,9)%>/details"> <%=batchDetails.departmentName%></a></span>
              <span class="text-primary d-block"> Batch Session : 20<%=batchDetails.batchId.slice(0,2)%>-20<%=batchDetails.batchId.slice(2,4)%></span>
            </strong>
          </h5>  
        </div>
      </div>  
    </div>

    <div class=" mt-2 mb-2" >
      <div class=" path text-secondary" style=" padding: 1.4rem">
        <!-- activity board starts here -->
        <%let gotoText=null%>
        <%let gotoLink=null%>  
        <div style="display: flex;    flex-wrap: wrap;">
          <div class="col-lg-6">
            <strong style="color:#fff;"><h5>Activity Board :</h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <div class="member-container d-block" style="height:8rem ;max-height:8rem ;overflow-y: scroll;">
              <!-- activity details contsiner starts | Voting board + Activity Board-->
              <%if(batchDetails.isVoteGoingOn){%>
              <!--Voting related informations starts--> 
                <%gotoLink="/leader-voting/"+batchDetails.leaderVotingData.votingPoleId+"/details"%>
                <h5 class="bolder text-warning text-center"><strong>Leader Voting is Going On</strong></h5>
                <hr style="margin-bottom: .2rem;margin-top: 0rem;">
                <%if(batchDetails.leaderVotingData.votingDates.resultDate){%>
                  <%gotoText="See the voting result"%> 
                  <h6 class="bolder text-warning text-center" style="margin-bottom:0px"><strong>Result has published !!</strong></h6>
                  <%if(batchDetails.leaderVotingData.wonLeader.regNumber==user.regNumber){%>
                    <strong  class="d-block text-info text-center">Congrats!! You have won the election.Accept yourself as a leader.</strong>
                  <%}else{%>
                    <strong  class="d-block text-info text-center">New Leader will be added when he/she will accept himself/herself as a new leader.</strong>  
                  <%}%>
                  <strong  class="d-block text-primary">Won Leader : <span class="text-secondary">Sohag Roy</span></strong> 
                  <strong  class="d-block text-primary">Result Date : <span class="text-secondary">12/12/2022</span></strong>
                  <hr>
                <%}%>
                <strong  class="d-block text-primary">Pole Created Date : <span class="text-secondary">12/12/2022</span> </strong> 
                <strong  class="d-block text-primary">Nomination Last Date : <span class="text-secondary">12/12/2022</span></strong>
                <strong  class="d-block text-primary">Voting Last Date : <span class="text-secondary">12/12/2022</span></strong>
              <!--Voting related informations ends-->
              <%}else if(batchDetails.presentActivity){%>
                <%gotoLink="/activity/"+batchDetails.presentActivity.activityId+"/details"%>
                <!--Activity related informations starts-->  
                <h5 class="bolder text-warning text-center"><strong>Batch Activity is Going On</strong></h5>
                <hr style="margin-bottom: .2rem;margin-top: 0rem;">
                <%if(batchDetails.presentActivity.isTopicByVote && !batchDetails.presentActivity.isVoteCompleted){%>
                  <h6 class="bolder text-warning text-center" style="margin-bottom:0px"><strong>Topic voting is going on!!</strong></h6>
                  <%if(checkData.isBatchMember){%>
                    <%gotoText="Give topic vote"%>
                    <strong  class="d-block text-info text-center">Topic for next activity is going to be selected by voting.Please give your vote.</strong>
                  <%}else{%>
                    <%gotoText="Go to topic voting page"%>
                    <strong  class="d-block text-info text-center">Topic selection for next activity is going on.</strong> 
                  <%}%>    
                <%}else{%>
                  <%gotoText="Check activity status"%>
                  <h6  class="d-block bolder text-primary mb-0 text-center"><strong>Activity Short Details </strong> </h6>
                  <strong class="d-block"><span class="text-primary">Topic :</span> <%=batchDetails.presentActivity.topic%></strong>
                  <strong class="d-block"><span class="text-primary">Title :</span> <%=batchDetails.presentActivity.title%></strong>
                <%}%> 
                <!--Activity related informations ends-->
              <%}else{%>
                <%if(checkData.isPresentLeader || checkData.isPreviousLeader){%>
                  <%gotoText="Create new activity"%>
                  <%gotoLink="/activity/batch/"+batchDetails.batchId+"/create"%>
                  <h6  class="d-block bolder text-warning mb-0 text-center"><strong>No Activity available!! </strong> </h6>
                  <strong  class="d-block text-info text-center">As a present leader you should create an activity.Do some creative activity on your leadership.</strong>
                <%}else{%>
                  <%if(checkData.isBatchMember){%>
                    <h6  class="d-block bolder text-warning mb-0 text-center"><strong>No Activity available!! </strong> </h6>
                    <div class="d-block text-info text-center">Contact with the present leader to create new activity!!</div>
                  <%}else{%>
                    <div class="d-block text-info text-center">There is no activity going on.</div>
                  <%}%>
                <%}%>
              <%}%> 
              <!-- activity details contsiner ends -->
            </div>
            <!-- activity goto link starts -->
            <%if(gotoLink){%>
              <a href="<%=gotoLink%>" class="btn btn-block btn-primary"><%=gotoText%> <i class="fas fa-arrow-right"></i></a>
            <%}else{%>
              <div class="btn btn-block btn-primary disabled">No activity available!!</div>
            <%}%>
            
            <!-- activity goto link ends -->
          </div>
          <!-- Activity board ends here -->
          <!-- source notification part starts here -->
          <div class="col-lg-6">
            <strong style="color:#fff;"><h5>Notification Board : <%= sourceNotifications.length==5 ? "(last-5)":""%></h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <div class="member-container d-block" style="height:8rem ;overflow-y: scroll;">
              <%if(!sourceNotifications.length){%>
                <div class="btn btn-block btn-info">No notification available!!</div>
              <%}else{%>
              <%sourceNotifications.forEach((notification)=>{%>
                <div class="notification-container mb-1 not-viewed">
                  <div style="display: flex;width: 100%;">
                      <div class="row"  style="width: 100%;">
                        <div class="col"  style="width: 100%;">
                          <div style="width: 100%;">
                            <strong class="bolder"><%=notification.message%></strong>  
                          </div>
                        </div>
                      </div>
                  </div>
                  <%if(notification.gotoText){%>
                    <hr style="padding: 0;margin: 0;">
                    <div class="ml-1" >
                      <a class="d-inline bolder text-primary mr-3" href="<%=notification.gotoLink%>"> <%=notification.gotoText%></a>
                      <strong class="float-right"><i>12/12/12</i></strong> 
                    </div>
                  <%}%>
                </div>
              <%})%>
              <%}%>
            </div>
            <a href="/source/batch/<%=batchDetails.batchId%>/notifications" class="btn btn-block btn-info">See all notifications <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
        <!-- source notification part ends here -->
        <!-- daysOut will be true if present leader selected before 15 days -->
        <!-- NOT COMPLETED -->
        <!-- <%let daysOut=true%>
        <%if(checkData.isBatchLeader && !batchDetails.isVoteGoingOn && !batchDetails.presentActivity && daysOut){%>
            <hr>
            <div class="member-container mt-2">
                <div>
                  <h5 class="bolder text-primary"><strong>New Leader Selection voting pole creation:</strong></h5>
                  <h6 class="bolder text-warning"><strong>Present leader activation date : </strong><%=batchDetails.presentLeader.createdDate%></h6>
                  <h6 class="bolder text-danger">[This section will only work/shown after 15 days of present leader selection.Main leader can create voting pole in case he/she is not interested to lead activity]</h6>
                  <div class="container">
                    <div class="" style="width: 100%;">
                      <form action="/create/batch/<%=batchDetails.batchId%>/leader-voting-pole" method="post">
                        <button class="btn  btn-info btn-sm btn-block">Create New Leader Selection Pole</button>
                      </form>
                    </div>
                  </div> 
                </div>
            </div>
            <%}%> -->
            <!-- Leader section ends -->
      </div>
    </div>

    <hr>
    <%if(checkData.isBatchLeader || user.accountType=="societyController"){%>
      <%if(batchDetails.newMemberRequests.length){%>
        <div class="item-container path">
          <strong><h5>New Membersip Requests (<%=batchDetails.newMemberRequests.length%>)</h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <%if(batchDetails.newMemberRequests.length==1){%>
              <div class="col">
                <div class="member-container align-items-center">
                  <img class="member-avatar"  src="/image/profile/medium/profile-<%=batchDetails.newMemberRequests[0].regNumber%>" alt="">
                  <div class="name-container">
                    <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=batchDetails.newMemberRequests[0].regNumber%>/profile"><%=batchDetails.newMemberRequests[0].userName%></a></strong>
                    <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                  </div>
                  <a class="d-block" href="/verification/case3/<%=batchDetails.newMemberRequests[0].regNumber%>/page">
                    <div class="btn btn-warning btn-sm mr-1">Verify Account</div>
                  </a>
                </div>
              </div>
            <%}else{%>
              <%let middleIndex=parseInt(batchDetails.newMemberRequests.length/2)%>
              <div style="display: flex;    flex-wrap: wrap;">
                <div class="col-md-6 left-member-container" >
                  <%for(let i=0;i<middleIndex;i++){%>
                    <div class="member-container align-items-center">
                      <img class="member-avatar"  src="/image/profile/medium/profile-<%=batchDetails.newMemberRequests[0].regNumber%>">
                      <div class="name-container">
                        <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=batchDetails.newMemberRequests[i].regNumber%>/profile"><%=batchDetails.newMemberRequests[i].userName%></a></strong>
                      </div>
                      <a class="d-block" href="/verification/case3/<%=batchDetails.newMemberRequests[i].regNumber%>/page">
                        <div class="btn btn-warning btn-sm mr-1">Verify Account</div>
                      </a>
                    </div>
                  <%}%>
                </div>
                <div class="col-md-6 right-member-container" >
                  <%for(let j=middleIndex;j<batchDetails.newMemberRequests.length;j++){%>
                    <div class="member-container align-items-center">
                      <img class="member-avatar"  src="/image/profile/medium/profile-<%=batchDetails.newMemberRequests[0].regNumber%>" alt="">
                      <div class="name-container">
                        <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=batchDetails.newMemberRequests[j].regNumber%>/profile"><%=batchDetails.newMemberRequests[j].userName%></a></strong>
                      </div>
                      <a class="d-block" href="/verification/case3/<%=batchDetails.newMemberRequests[j].regNumber%>/page">
                        <div class="btn btn-warning btn-sm mr-1">Verify Account</div>
                      </a>
                    </div>
                  <%}%>
                </div>
              </div>
            <%}%>
        </div>
        <hr>
      <%}%>
    <%}%>

    
    <h5 class="text-primary text-center"><strong >Batch Details</strong></h5>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="">
          <div class="item-container mb-2">
            <strong><h5 class="bolder">Present Leaders</h5></strong>
            <hr style="margin-bottom: .25rem;margin-top: 0rem;">
            <strong class="d-block text-info">Main Lead :</strong>
            <%if(batchDetails.presentLeader){%>
              <div class=" student-room-container" >
                <div class="d-flex align-items-center">
                  <div >
                    <img class="avatar-small"  src="/image/profile/small/profile-<%=batchDetails.presentLeader.regNumber%>" alt="">
                  </div>
                  <div class="ml-2">
                    <span class="d-block"><strong >Name : </strong><%=batchDetails.presentLeader.userName%></span>
                    <span class="d-block"><strong >Phone : </strong><%=batchDetails.presentLeader.phone%></span>
                  </div>
                </div>
                <%if(batchDetails.presentLeader.votingPoleId){%>
                <a  href="/leader-voting/<%=batchDetails.presentLeader.votingPoleId%>/details">
                  <i class="text-info">Go to voting details...</i>
                </a>
                <%}else{%>
                  <i class="text-warning">(Default Leader)</i>
                <%}%>
              </div>
            <%}else{%>
              <div class="btn btn-lg btn-block btn-info">Leader not available!!</div>
            <%}%>
            <strong class="d-block text-info">Assistant Lead :</strong>
            <%if(batchDetails.previousLeader){%>
              <div class=" student-room-container" >
                <div class="d-flex align-items-center">
                  <div >
                    <img class="avatar-small"  src="/image/profile/small/profile-<%=batchDetails.previousLeader.regNumber%>" alt="">
                  </div>
                  <div class="ml-2">
                    <span class="d-block"><strong >Name : </strong><%=batchDetails.previousLeader.userName%></span>
                    <span class="d-block"><strong >Phone : </strong><%=batchDetails.previousLeader.phone%></span>
                  </div>
                </div>
                <%if(batchDetails.previousLeader.votingPoleId){%>
                  <a  href="/leader-voting/<%=batchDetails.previousLeader.votingPoleId%>/details">
                    <i class="text-info">Go to voting details...</i>
                  </a>
                  <%}else{%>
                    <i class="text-warning">(Default Leader)</i>
                  <%}%>
              </div>
            <%}else{%>
              <div class="btn btn-lg btn-block btn-info">Leader not available!!</div>
            <%}%>
          </div>

          <div class="item-container mb-2 allLeadersContainer" >
            <strong><h5 class="bolder">All Leaders (<%=batchDetails.allLeaders.length%>)</h5></strong>
            <hr style="margin-bottom: .55rem;margin-top: 0rem;">
            <%if(!batchDetails.allLeaders.length){%>
              <div class="btn btn-lg btn-block btn-info">There is no leader available!!</div>
            <%}else{%>
              <%batchDetails.allLeaders.forEach((leader)=>{%>
                <div class="d-flex align-items-center student-room-container" >
                  <div >
                    <img class="avatar-small"  src="/image/profile/small/profile-<%=leader.regNumber%>" alt="">
                  </div>
                  <div class="ml-2">
                    <span class="d-block"><strong >Name : </strong><%=leader.userName%></span>
                    <%if(checkData.isBatchMember){%>
                      <span class="d-block"><strong >Phone : </strong><%=leader.phone%></span>
                    <%}%>
                  </div>
                </div>
              <%})%>
            <%}%>
          </div>
        
        </div>
      </div>
      <div class="col-md-8" >
        <h5 class="bolder text-center">Last Activity</h5>
        <div class=" mb-2">
          <%if(previousActivityData){%>
            <%- include('includes/previous-activity-banner') %>
          <%}else{%>
            <%- include('includes/no-previous-activity-banner') %>
          <%}%>
          
        </div>
        <hr>
        <div class="btn btn-block btn-secondary btn-md">See all activities -></div>
      </div>
    </div>

    <hr>
      <div class="item-container">
        <strong><h5 class="bolder">All Members (<%=batchDetails.allMembers.length%>)</h5></strong>
        <hr style="margin-bottom: .85rem;margin-top: 0rem;">
        <%if(!batchDetails.allMembers.length){%>
          <div class="btn btn-lg btn-block btn-info">There is no member available!!</div>
        <%}else{%>  
          <%if(batchDetails.allMembers.length==1){%>
            <div class="col">
              <div class="member-container">
                <img class="member-avatar"  src="/image/profile/medium/profile-<%=batchDetails.allMembers[0].regNumber%>" alt="">
                <div class="name-container">
                  <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=batchDetails.allMembers[0].regNumber%>/profile"><%=batchDetails.allMembers[0].userName%></a></strong>
                  <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                </div>
              </div>
            </div>
          <%}else{%>
            <%let middle=parseInt(batchDetails.allMembers.length/2)%>
            <div style="display: flex;    flex-wrap: wrap;">
              <div class="col-md-6 left-member-container" >
                <%for(let i=0;i<middle;i++){%>
                  <div class="member-container">
                    <img class="member-avatar"  src="/image/profile/medium/profile-<%=batchDetails.allMembers[i].regNumber%>" alt="">
                    <div class="name-container">
                      <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=batchDetails.allMembers[i].regNumber%>/profile"><%=batchDetails.allMembers[i].userName%></a></strong>
                      <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                    </div>
                  </div>
                <%}%>
              </div>
              <div class="col-md-6 right-member-container" >
                <%for(let j=middle;j<batchDetails.allMembers.length;j++){%>
                <div class="member-container">
                  <img class="member-avatar"  src="/image/profile/medium/profile-<%=batchDetails.allMembers[j].regNumber%>" alt="">
                  <div class="name-container">
                    <strong class="d-block ml-2" style="width: 100%;"><a href="/student/<%=batchDetails.allMembers[j].regNumber%>/profile"><%=batchDetails.allMembers[j].userName%></a></strong>
                    <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
                  </div>
                </div>
                <%}%>
              </div>
            </div>
          <%}%>
        <%}%>
      </div>
 
    
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>



<!-- New design from upper section -->

<%- include('includes/footer') %>

















