<%- include('includes/header') %>
<%- include('includes/flash') %>



<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg-1">
  </div>

  <div class="col-lg-10" style="margin: 0;padding: 0;position: relative;">
    <img class="banner" src="/images/banner.jpg" alt="">
    <div class="banner-batch" >
      <h1>Let's Build a Better Society</h1>
      <p>Involve yourself on activity to make our society better.</p>
    </div>
    <hr>
    <div class="row text-center" style="padding: 0px;margin:0px;" >
      <div class="col-sm-4 mb-2">
        <a href="/campus-groups">
          <div class="student-home-link-btn" style="background-color: rgb(6, 66, 66)">
            <strong><i class="fas fa-users fa-lg"></i> See Campus Groups</strong>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-2">
        <a href="/search-home-tutor">
          <div class="student-home-link-btn" style="background-color:  rgb(224, 166, 31);">
            <strong><i class="fas fa-search"></i> Home-Tutor Searching</strong>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-2">
        <a href="/all-activities">
          <div class="student-home-link-btn" style="background-color:  rgb(47, 140, 30)">
            <strong><i class="fas fa-running fa-lg"></i> See All Activities</strong>
          </div>
        </a>
      </div>
    </div>
    <hr>

    
    
  <div class=" item-container mb-1" style="background-color:#f0f2f5 ;">
    <h5 class="bolder ">Batch Activities :</h5>
      <%if(!activities.batchActivities.length){%>
        <div class="colored-container">
          <div class="btn btn-block btn-info">
            No batch activity conducted till now!!
          </div>
        </div>
      <%}else{%>
        <div class="teacher-banner-container pb-2">
        <%activities.batchActivities.forEach((activity)=>{%>
          <a href="/activity/<%=activity._id%>/details" style="text-decoration: none;">
            <div class="activity-link-container-small">
              <img class="activity-cover-image"  src="/image/profile/medium/checkImg" alt="">
              <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
                <span class="d-block"><strong><%=activity.title.slice(0,30)%>... | <%=activity.topic%> </strong></span>
                <span class="d-block">Dept : <%=activity.sourceName%> (20<%=activity.activitySourceId.slice(0,2)%>-20<%=activity.activitySourceId.slice(2,4)%>)
                </span>
                <i class="d-block">Published On <%= activity.publishedDate.getDate() %> <%=activity.publishedDate.toLocaleString('default', { month: 'short' }) %> , <%= activity.publishedDate.getFullYear() %> </i>
                <hr style="padding: 0;margin:0;">
                <div class="d-flex">
                  <i class="d-block mr-auto"><%=activity.likes%> <%=activity.likes>1?"Likes":"Like"%></i>
                  <i class="d-block "><%=activity.comments%> <%=activity.likes>1?"Comments":"Comment"%></i>
                </div>
              </div>
            </div>
          </a>
        <%})%>
      </div>
      <%}%>
    
  </div>
<hr>

  <div class=" item-container mb-1" style="background-color:#f0f2f5 ;">
    <h5 class="bolder text-">Department Activities :</h5> 
      <%if(!activities.departmentActivities.length){%>
        <div class="colored-container">
          <div class="btn btn-block btn-info">
            No departmental activity conducted till now!!
          </div>
        </div>
      <%}else{%>
        <div class="teacher-banner-container pb-2">
        <%activities.departmentActivities.forEach((activity)=>{%>
          <a href="/activity/<%=activity._id%>/details" style="text-decoration: none;">
            <div class="activity-link-container-small">
              <img class="activity-cover-image"  src="/image/profile/medium/checkImg" alt="">
              <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
                <span class="d-block"><strong><%=activity.title.slice(0,30)%>... | <%=activity.topic%> </strong></span>
                <span class="d-block">Dept - <%=activity.sourceName%> 
                </span>
                <i class="d-block">Published On <%= activity.publishedDate.getDate() %> <%=activity.publishedDate.toLocaleString('default', { month: 'short' }) %> , <%= activity.publishedDate.getFullYear() %> </i>
                <hr style="padding: 0;margin:0;">
                <div class="d-flex">
                  <i class="d-block mr-auto"><%=activity.likes%> <%=activity.likes>1?"Likes":"Like"%></i>
                  <i class="d-block "><%=activity.comments%> <%=activity.likes>1?"Comments":"Comment"%></i>
                </div>
              </div>
            </div>
          </a>
        <%})%>
        </div>
      <%}%>
  </div>
    
  <hr>
  <div class=" item-container mb-1" style="background-color:#f0f2f5 ;">
    <h5 class="bolder text-">Group Activities :</h5>
      <%if(!activities.groupActivities.length){%>
        <div class="colored-container">
          <div class="btn btn-block btn-info">
            No group activity conducted till now!!
          </div>
        </div>
      <%}else{%>
        <div class="teacher-banner-container pb-2">
        <%activities.groupActivities.forEach((activity)=>{%>
          <a href="/activity/<%=activity._id%>/details" style="text-decoration: none;">
            <div class="activity-link-container-small">
              <img class="activity-cover-image"  src="/image/profile/medium/checkImg" alt="">
              <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
                <span class="d-block"><strong><%=activity.title.slice(0,30)%>... | <%=activity.topic%> </strong></span>
                <span class="d-block">Group Name - <%=activity.sourceName%> 
                </span>
                <i class="d-block">Published On <%= activity.publishedDate.getDate() %> <%=activity.publishedDate.toLocaleString('default', { month: 'short' }) %> , <%= activity.publishedDate.getFullYear() %> </i>
                <hr style="padding: 0;margin:0;">
                <div class="d-flex">
                  <i class="d-block mr-auto"><%=activity.likes%> <%=activity.likes>1?"Likes":"Like"%></i>
                  <i class="d-block "><%=activity.comments%> <%=activity.likes>1?"Comments":"Comment"%></i>
                </div>
              </div>
            </div>
          </a>
        <%})%>
        </div>
      <%}%>
  </div>
  
   
  </div>
  <div class="col-lg-1"></div>
</div>


  




  
<%- include('includes/footer') %>