<%- include('includes/header') %> 
<%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
  <%- include('includes/designs/student-home-screen-left-part') %>
  <div class="col-lg-6 pt-2 "  >
  

    <h4 class="bolder ml-1"><strong>Notifications</strong></h4>
    <div class="item-container">
      <div class="ml-2 mr-2">
        <h6><strong class="bolder text-success">New notifications:</strong></h6>
          
            <div class="notification-container mb-1 not-viewed">
              <div style="display: flex;width: 100%;">
               
                  <div class="row"  style="width: 100%;">
                    <div class="col"  style="width: 100%;">
                      <div style="width: 100%;">
                        <span><strong>This is for notification body.</strong> </span> 
                      </div>
                    </div>
                  </div>
              </div>
              <hr style="padding: 0;margin: 0;">
              <div class="ml-1" >
                <a class="d-inline mr-3" href="#"> Announcement</a>
                <span class="float-right"><i>12/12/2022</i></span> 
              </div>
            </div>

          <div class="notification-container mb-1" >
            <div style="display: flex;width: 100%;">
                <div class="row"  style="width: 100%;">
                  <div class="col"  style="width: 100%;">
                    <div style="width: 100%;">
                      <span><strong>Notification body will be here</strong>.</span> 
                    </div>
                  </div>
                </div>
            </div>
            <hr style="padding: 0;margin: 0;">
            <div class="ml-1" >
              <a class="d-inline mr-3" href=""> Batch details</a>
              <span class="float-right"><i>12/12/2022</i></span> 
            </div>
          </div>
          
          <div class="notification-container mb-1" >
            <div style="display: flex;width: 100%;">
                <div class="row"  style="width: 100%;">
                  <div class="col"  style="width: 100%;">
                    <div style="width: 100%;">
                      <span><strong>Notification body will be here</strong>.</span> 
                    </div>
                  </div>
                </div>
            </div>
            <hr style="padding: 0;margin: 0;">
            <div class="ml-1" >
              <a class="d-inline mr-3" href=""> Batch details</a>
              <span class="float-right"><i>12/12/2022</i></span> 
            </div>
          </div>
       
          <div class="notification-container mb-1" >
            <div style="display: flex;width: 100%;">
                <div class="row"  style="width: 100%;">
                  <div class="col"  style="width: 100%;">
                    <div style="width: 100%;">
                      <span><strong>Notification body will be here</strong>.</span> 
                    </div>
                  </div>
                </div>
            </div>
            <hr style="padding: 0;margin: 0;">
            <div class="ml-1" >
              <a class="d-inline mr-3" href=""> Batch details</a>
              <span class="float-right"><i>12/12/2022</i></span> 
            </div>
          </div>
       
          <div class="notification-container mb-1" >
            <div style="display: flex;width: 100%;">
                <div class="row"  style="width: 100%;">
                  <div class="col"  style="width: 100%;">
                    <div style="width: 100%;">
                      <span><strong>Notification body will be here</strong>.</span> 
                    </div>
                  </div>
                </div>
            </div>
            <hr style="padding: 0;margin: 0;">
            <div class="ml-1" >
              <a class="d-inline mr-3" href=""> Batch details</a>
              <span class="float-right"><i>12/12/2022</i></span> 
            </div>
          </div>
       
      </div>
    </div>

    
  </div>
  <%- include('includes/designs/student-home-screen-right-part') %>
</div>

<%- include('includes/footer') %>

