<%- include('includes/header') %> 
<%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
  <%- include('includes/designs/student-home-screen-left-part') %>
  <div class="col-lg-6 pt-2 "  >
  

    <h4 class="bolder ml-1"><strong>Notifications : </strong></h4>
    <div class="item-container">
      <div class="ml-2 mr-2">
        <%if(!notifications.length){%>
          <div class="btn btn-block btn-info">Notification not available!!!</div>
        <%}else{%>
        <%notifications.forEach((notification,index)=>{%>
          <%if(unseenNotifications!=0 && index==0){%>
            <h6><strong class="bolder text-success">New notifications:(<%=unseenNotifications%>)</strong></h6>
          <%}%>
 
            <div class="notification-container mb-1 <%=unseenNotifications>index ? "not-viewed" :" " %>"">
              <div style="display: flex;width: 100%;">
                  <div class="row"  style="width: 100%;">
                    <div class="col"  style="width: 100%;">
                      <div style="width: 100%;">
                        <strong class="bolder"><%=notification.message%></strong>  
                      </div>
                    </div>
                  </div>
              </div>
              <%if(notification.gotoText){%>
                <hr style="padding: 0;margin: 0;">
                <div class="ml-1" >
                  <a class="d-inline bolder text-primary mr-3" href="<%=notification.gotoLink%>"> <%=notification.gotoText%></a>
                  <strong class="float-right"><i><%= notification.createdDate.getDate() %> <%=notification.createdDate.toLocaleString('default', { month: 'short' }) %> , <%= notification.createdDate.getFullYear() %> at <%=notification.createdDate.getHours()%>:<%=notification.createdDate.getMinutes()%></i></strong> 
                </div>
              <%}%>
            </div>
            <%if(unseenNotifications==index+1){%>
              <hr>
              <h6><strong class="bolder text-primary">Old notifications:</strong></h6>
            <%}%>
          <%})%>
        <%}%>
      </div>
    </div>

    
  </div>
  <%- include('includes/designs/student-home-screen-right-part') %>
</div>

<%- include('includes/footer') %>

