<%- include('includes/header') %> 
<%- include('includes/flash') %>
<%- include('includes/officialUser-header') %> 

    <div class="item-container">
    <h4 class="bolder"><strong>Rejected accounts (<%=rejectedAccounts.length%>)</strong></h4>
    <%if(!rejectedAccounts.length){%>
      <div class="btn btn-lg btn-block btn-info">No rejected account available!!</div>
    <%}else{%>
      <%rejectedAccounts.forEach((account,index)=>{%>
        <div class="student-room-container mb-2">
          <h5 class="text-warning text-center"><strong>(<%=index+1%>)</strong></h5>
          <strong class="d-block">Registration Number : <i><%=account.regNumber%></i> </strong>
          <strong class="d-block">User Name : <i><%=account.userName%></i> </strong>
          <strong class="d-block">Department Name : <%=account.departmentName%></strong>
          <h6 class="bolder text-warning"><strong>Rejected By : </strong><a href="/student/<%=account.verifiedBy.rejectedBy.regNumber%>/profile"><%=account.verifiedBy.rejectedBy.userName%></a></h6>
          <p><strong>Reason : </strong><%=account.verifiedBy.message%></p>
          <a href="/verification/rejected/<%=account.regNumber%>/page" class="btn btn-block btn-sm btn-info">
            Go to verification page
          </a>
        </div>
      <%})%>
    <%}%>
    </div>
<%- include('includes/officialUser-footer') %> 

<%- include('includes/footer') %>