<%- include('includes/header') %> 
<%- include('includes/flash') %>
<%- include('includes/officialUser-header') %> 
<div class="item-container" style="height: 60vh;">
    <div class="btn btn-block btn-info"><strong>I have to work on this page later!!</strong></div>
</div> 
<%- include('includes/officialUser-footer') %> 
<%- include('includes/footer') %> 
