<%- include('includes/header') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col" ></div>
  <div class="col-lg-8 " style="margin-bottom: 2rem;margin: 0;padding: 0;" >
    <%- include('includes/flash') %>
    <div class="logIn-form-container mt-4 mb-4 ">   
      <h3 class="bolder text-center">Reset Password Form</h3>
      <hr>
      <p class="text-info text-center"><strong >[OTP has been send to email id : <strong class="text-success"><%=OTPData.email%></strong>  .The OTP is validate till - <strong class="text-success"><%=OTPData.validationTime%></strong> .]</strong></p>
      <%if(OTPData.isUsed){%>
        <p class="text-warning text-center"><strong>[You have no new OTP.Please sent new OTP to reset your password.]</strong></p>
      <%}else{%>
        <%if(OTPData.ifTimeOut){%>
            <p class="text-warning text-center"><strong>[Your OTP validation time is out.Please sent new OTP to reset your password.]</strong></p>
          <%}%>
      <%}%>
      <hr>
      <form action="/reset-password" method="POST" class="">
        <div class="form-group">
            <label for="OTP-register" class="text-muted"><small>OTP </small></label>
            <input name="OTP" id="OTP-register" class="form-control form-control-lg " type="number" placeholder="Enter OTP here." required autocomplete="off" />          
        </div>
        <hr>
        <h6><strong class="text-primary">Set your new password</strong></h6>
        <div class="form-group">
            <label for="password-register" class="text-muted"><small>New Password </small></label>
            <input name="newPassword" id="password-register" class="form-control form-control-lg " type="password" placeholder="Enter new password." required autocomplete="off" />          
        </div>
        <div class="form-group">
            <label for="OTP-register" class="text-muted"><small>Confirmation-Password </small></label>
            <input name="confirmPassword" id="OTP-reister" class="form-control form-control-lg " type="password" placeholder="Enter confirmation-password." required autocomplete="off" />          
        </div>
        <input type="hidden" name="email" value="<%=OTPData.email%>">
        <button class="btn btn-info btn-block btn-lg">Submit New Password</button>
      </form>
      <hr>
      <form action="/sent-new-otp" method="post" class="text-center">
        <input type="hidden" name="email" value="<%=OTPData.email%>">
        <button class="btn btn-secondary btn-sm">Sent new OTP ?</button>
      </form>
    </div>
  </div>
  <div class="col" ></div>
</div>
<%- include('includes/footer') %>