<%- include('includes/header') %> 
<%- include('includes/flash') %>
<%- include('includes/officialUser-header') %> 

    
    <div class="item-container" >
      <div class="row">
        <div class="col-sm-6 mt-2 " >
          <a href="/user-verification-case1-page" style="text-decoration: none;" >
            <div class="item-container bolder" style="color: #fff; background-color:#2a4bd5;">
              <h5 class="text-center" style="padding: 1.75rem;"><strong>Verify case1 user accounts</strong></h5>            
            </div>
          </a>
        </div>
        <div class="col-sm-6 mt-2 " >
          <a href="/handle-reporting-page" style="text-decoration: none;" >
            <div class="item-container bolder" style="color: #fff; background-color:#D52AA0 ;">
              <h5 class="text-center" style="padding: 1.75rem;"><strong>Handle Reporting</strong></h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 mt-2 " >
          <a href="/verify-user-account-page" style="text-decoration: none;" >
            <div class="item-container bolder" style="color: #fff; background-color:#D5B42A ;">
              <h5 class="text-center" style="padding: 1.75rem;"><strong>Verify user account</strong></h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 mt-2 " >
          <a href="/society-handling-page" style="text-decoration: none;" >
            <div class="item-container bolder" style="color: #fff; background-color:#2AD55F ;">
              <h5 class="text-center" style="padding: 1.75rem;"><strong>Handle Society</strong></h5>
            </div>
          </a>
        </div>
      </div>
    </div>
<%- include('includes/officialUser-footer') %> 


<!-- New designing page till upper section -->

<%- include('includes/footer') %>
