<%- include('includes/header') %> 
<%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <%if(sourceData.source=="batch"){%>
          <img class="department-batch-group-cover-image" src="/image/batch-banner/large/<%=sourceData.sourceId%>" width="1000" height="250"/>
        <%}else if(sourceData.source=="department"){%>
          <img class="department-batch-group-cover-image" src="/image/department-banner/large/<%=sourceData.sourceId%>" width="1000" height="250"/>
        <%}else{%>
          <img class="department-batch-group-cover-image" src="/image/group-banner/large/<%=sourceData.sourceId%>" width="1000" height="250"/>
        <%}%>
        <div class="text-center">
          <h5>
            <strong>
              <%if(sourceData.source=="group"){%>
                <span class="text-primary d-block" > Group : <%=sourceData.sourceName%></span>
              <%}else{%>
                <span class="text-primary d-block" > Department : <%=sourceData.sourceName%></span>
              <%}%>
              <%if(sourceData.source=="batch"){%>
                <span class="text-primary d-block"> Batch Session : 20<%=sourceData.sourceId.slice(0,2)%>-20<%=sourceData.sourceId.slice(2,4)%></span>
              <%}%>
            </strong>
          </h5>  
        </div>
      </div>  
    </div>
    <hr>
    <h4 class="bolder ml-1"><strong>All Notifications : (<%=notifications.length%>)</strong></h4>
    <div class="item-container">
      <div class="ml-2 mr-2">
        <%if(!notifications.length){%>
          <div class="btn btn-block btn-info">No notification available!!</div>
        <%}else{%>
        <%notifications.forEach((notification)=>{%>
          <div class="notification-container mb-1 not-viewed">
            <div style="display: flex;width: 100%;">
                <div class="row"  style="width: 100%;">
                  <div class="col"  style="width: 100%;">
                    <div style="width: 100%;">
                      <strong class="bolder"><%=notification.message%></strong>  
                    </div>
                  </div>
                </div>
            </div>
            <%if(notification.gotoText){%>
              <hr style="padding: 0;margin: 0;">
              <div class="ml-1" >
                <a class="d-inline bolder text-primary mr-3" href="<%=notification.gotoLink%>"> <%=notification.gotoText%></a>
                <strong class="float-right"><i>12/12/12</i></strong> 
              </div>
            <%}%>
          </div>
        <%})%>
        <%}%>
            
              
      </div>
    </div>

  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
<%- include('includes/footer') %>
