
<%- include('includes/header') %>
<%- include('includes/flash') %>


  
  <!-- ######################################### -->

  
<div style="display: flex;flex-wrap: wrap;">
  <%- include('includes/designs/student-home-screen-left-part') %>
  <div class="col-lg-6 pt-2 "  >
    
    
      <%if(!user.otherData.isVerified){%>
        <div class="ml-2 mr-2 mb-1">
          <h5 ><strong class="text-success bolder">Hayy, <%=user.userName%> Your Registration number is : <%=user.regNumber%></strong> </h5>
          <h5 ><strong class="text-info bolder">Your verification type is : <%=user.otherData.verifiedBy.verificationType%></strong> </h5>
          <hr>
          <h5 class="text-warning bolder"><%=user.otherData.verifiedBy.message%> Please contact following leaders to verify your account sooner . Or wait few days , verifier will call you for verifing your account.</h5>
          <%user.otherData.verifiedBy.verifiers.forEach((leader)=>{%>
            <div class="student-room-container" style="display: flex;width: 100%;">
              <div class="mr-2" >
                <img class="member-avatar"  src="/image/profile/medium/profile-<%=leader.regNumber%>" alt="">
              </div>
              <div class="ml-2">
                <strong class="d-block">Verifier : <%=leader.type%></strong>
                <strong class="d-block">Name : <%=leader.userName%></strong>
                <strong class="d-block">Phone : <%=leader.phone%></strong>          
              </div>
            </div>
          <%})%>
        </div>
        <div class="colored-container mt-4">
          <p><strong>This section will contain published activities from different departments.Now this section is locked as your account is not verified yet.</strong></p>
          <hr>
          <p class="text-warning">[If your account has been verified but still this section is showed,please log-out the account and log-in again.]</p>
        </div>
      <%}else{%>
      <div>
        
          <div class="row text-center" >
            <div class="col-sm-6">
              <a href="/top-activities">
                <div class="student-home-link-btn" style="background-color: rgb(91, 126, 126);">
                  <strong>See Top Activities</strong>
                </div>
              </a>
              
            </div>
            <div class="col-sm-6">
              <a href="/todays-activities">
                <div class="student-home-link-btn" style="background-color:  rgb(224, 166, 31);">
                  <strong>Today's Activities</strong>
                </div>
              </a>
            </div>
          </div>
        <hr>
        <%if(!postActivities.length){%>
          <%- include('includes/no-activity-banner') %>
        <%}else{%>
          <%postActivities.forEach((activity)=>{%>
            <a href="/activity/<%=activity._id%>/details" class="d-block mb-2" style="text-decoration: none;">     
              <div class="mb-2">
                <div class="item-container" >
                  <div style="display: flex;">
                    <div class="text-center">
                      <%let logoLink=""%>
                      <%if(activity.activityType=="batch"){%>
                        <% logoLink="/images/batch.jpg"%>
                      <%}else if(activity.activityType=="department"){%>
                        <% logoLink="/images/department.jpg"%>
                      <%}else{%>
                        <% logoLink="/images/group.jpg"%>
                      <%}%>
                      <img class="activity-avatar-small" src="<%=logoLink%>" alt="">
                    </div>
                    <div class="post-header" style="width: 100%;display: flex;">
                      <div class="mr-auto" style="padding-left: 5px;">
                        <div style="margin: 0;padding: 0;">
                          <strong class="text-primary">
                            <span class="text-capitalize"><%=activity.activityType%></span>  
                            | <%=activity.sourceName%> 
                            <%if(activity.activityType=="batch"){%>
                              (20<%=activity.activitySourceId.slice(0,2)%>-20<%=activity.activitySourceId.slice(2,4)%>)
                            <%}%>
                          </strong>
                        </div>
                        <div style="margin: 0;padding: 0;">
                          <i><span>Published on <%= activity.publishedDate.getDate() %> <%=activity.publishedDate.toLocaleString('default', { month: 'short' }) %>, <%= activity.publishedDate.getFullYear() %></span></i> <span style="font-weight: 500;">.</span><i class="fas fa-user-friends fa-sm"></i>
                        </div>
                      </div>
                      <div class="float-right">
                        <p style="margin-right: 8px;" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <strong><i class="fas fa-ellipsis-h"></i></strong>
                        </p>
                        <div class="dropdown-menu dropdown-menu-right">
                          <p class="dropdown-item text-primary" ></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="margin-bottom: .35rem;margin-top: 2px;">
                  
                  <div class="activityCoverPhotoContainer">
                      <img class="activityCoverPhoto" src="<%=activity.videoCoverPhoto%>" alt="">
                  </div>
                  
                  
                  <div style="margin-bottom: 5px; border-bottom: 1px solid rgb(126, 124, 124);">
                    <h6 style="margin-bottom: 0px;">
                      <i class="d-block">
                        <span class="text-capitalize"><%=activity.activityType%></span> activity | Conducted on <%= activity.activityDate.getDate() %> <%=activity.activityDate.toLocaleString('default', { month: 'short' }) %>, <%= activity.activityDate.getFullYear() %>
                      </i>
                    </h6>
                    <h5 class="bolder">
                      <%=activity.title%> | <%=activity.topic%>
                    </h5>
                  </div>
            
                  <div style="display: flex;">
                    <div class="text-left" style="width: 50%;">
                      <i class="far fa-thumbs-up"></i><span> <%=activity.likes%> <%= activity.likes>1  ? 'Likes' : 'Like'%></span>
                    </div>
                    <div class="text-right" style="width: 50%;">
                      <span><%=activity.comments%> <%= activity.comments>1  ? 'Comments' : 'Comment'%> </span> 
                    </div>
                  </div>
                  <!-- comment section -->
                  </div>
              </div>
            </a>
          <%})%>
        <%}%>
          
      </div>
      <%}%>
  </div>
  <%- include('includes/designs/student-home-screen-right-part') %>
</div>

<%- include('includes/footer') %>


<!-- <%if(user.otherData.emailNotSet){%>
      <div class="student-room-container mt-4">
        <h4 class="text-info">Give Your Email Id to get notified through email.</h4>
        <form action="/setEmailId" method="post">
          <input name="email" class="form-control form-control-lg space" type="email" placeholder="Email Id :" autocomplete="off">
          <input type="hidden" name="from" value="setNow">
          <button class="btn btn-info btn-block btn-sm">Set Email</button>
        </form>
        <hr>
        <form action="/setEmailId" method="post">
          <input type="hidden" name="email" value="Not_Given">
          <input type="hidden" name="from" value="setLater">
          <button class="btn btn-secondary btn-block btn-sm">I will set later</button>
        </form>
      </div>
      <hr>
    <%}%> -->