
<%- include('includes/header') %>
<%- include('includes/flash') %>


  
  <!-- ######################################### -->

  
<div style="display: flex;flex-wrap: wrap;">
  <%- include('includes/designs/student-home-screen-left-part') %>
  <div class="col-lg-6 pt-2 "  >
    
    
      <%if(!user.otherData.isVerified){%>
        <div class="ml-2 mr-2 mb-1">
          <h5 ><strong class="text-success bolder">Hayy, <%=user.userName%> Your Registration number is : <%=user.regNumber%></strong> </h5>
          <h5 ><strong class="text-info bolder">Your verification type is : <%=user.otherData.verifiedBy.verificationType%></strong> </h5>
          <hr>
          <h5 class="text-warning bolder"><%=user.otherData.verifiedBy.message%> Please contact following leaders to verify your account sooner . Or wait few days , verifier will call you for verifing your account.</h5>
          <%user.otherData.verifiedBy.verifiers.forEach((leader)=>{%>
            <div class="student-room-container" style="display: flex;width: 100%;">
              <div class="mr-2" >
                <img class="member-avatar"  src="/image/profile/medium/profile-<%=leader.regNumber%>" alt="">
              </div>
              <div class="ml-2">
                <strong class="d-block">Verifier : <%=leader.type%></strong>
                <strong class="d-block">Name : <%=leader.userName%></strong>
                <strong class="d-block">Phone : <%=leader.phone%></strong>          
              </div>
            </div>
          <%})%>
        </div>
        <div class="colored-container mt-4">
          <p><strong>This section will contain published activities from different departments.Now this section is locked as your account is not verified yet.</strong></p>
          <hr>
          <p class="text-warning">[If your account has been verified but still this section is showed,please log-out the account and log-in again.]</p>
        </div>
      <%}else{%>
      <div>
        <%- include('includes/activity-banner-structure') %>
        <%- include('includes/activity-banner-structure') %>
      </div>
      <%}%>
  </div>
  <%- include('includes/designs/student-home-screen-right-part') %>
</div>

<%- include('includes/footer') %>


<!-- <%if(user.otherData.emailNotSet){%>
      <div class="student-room-container mt-4">
        <h4 class="text-info">Give Your Email Id to get notified through email.</h4>
        <form action="/setEmailId" method="post">
          <input name="email" class="form-control form-control-lg space" type="email" placeholder="Email Id :" autocomplete="off">
          <input type="hidden" name="from" value="setNow">
          <button class="btn btn-info btn-block btn-sm">Set Email</button>
        </form>
        <hr>
        <form action="/setEmailId" method="post">
          <input type="hidden" name="email" value="Not_Given">
          <input type="hidden" name="from" value="setLater">
          <button class="btn btn-secondary btn-block btn-sm">I will set later</button>
        </form>
      </div>
      <hr>
    <%}%> -->