<%- include('includes/header') %>
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-7 pt-1  pb-2" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <img class="home-cover-image" src="/image/profile/large/checkImg"/>
        <div>
          <picture>
            <source srcset="image/profile/medium/checkImg" media="(min-width:1200px)">
            <source srcset="image/profile/medium/sohsag" media="(min-width:760px)">
            <img class="home-profile-image" src="image/profile/medium/checkMid" alt="">
          </picture>
          <div>
            <h5 class="bolder text-secondary d-inline"><strong>Sohag Roy</strong></h5>
            <h5 class="text-info d-inline float-right"><i class="fas fa-user"></i> Go to Profile</h5>
          </div>  
        </div>
      </div> 
    <hr>  
    </div>
    <hr>
      <h5 class="bolder text-primary"><strong>Edit Your Profile</strong></h5>
      <div style="background-color: #fff;width: 100%;border-radius: 5px;margin-bottom: 1rem;">
        <strong class="bolder m-2">Upload Photo</strong>
        <form class="m-2" action="/photo-upload" method="POST" id="fileUpload-form1" enctype="multipart/form-data">
          <label class="text-center" for="FormControlFile1">Choose a photo</label> 
          <div class="input-group post-form-container" style="margin-bottom: 2px;">
            <div class="input-group-prepend">
              <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" name="image" class="custom-file-input" required id="inputGroupFile01">
              <label class="custom-file-label" for="inputGroupFile01"></label>
            </div>
          </div>
          <button type="submit" class=" btn btn-sm btn-secondary btn-block">Submit</button>
        </form>
      </div>
      <hr>
      <div class=" student-room-container" >
        <div class="d-flex align-items-center">
          <div >
            <img class="avatar-small"  src="/image/profile/small/check" alt="">
          </div>
          <div class="ml-2">
            <span class="d-block"><strong >Name : </strong>Sohag Roy</span>
            <span class="d-block"><strong >Phone : </strong>1234567898</span>
          </div>
        </div>
      </div>
      <div class="member-container align-items-center">
        <img class="member-avatar"  src="/image/profile/small/check" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;"><a href=""></a></strong>
        </div>
        <a class="d-block" href="">
          <div class="btn btn-warning btn-sm mr-1">Verify Account</div>
        </a>
      </div>
    <hr> 
    <div  class="row">
      <div class="col-lg-6" >
        <div class="item-container mb-2">
          <strong><p>Identity</p></strong>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          
          <p><i class="fas fa-home"></i> <strong> Name - </strong> <span class="text-capitalize">Sohag Roy</span></p>
          <p><i class="fas fa-graduation-cap"></i><strong> Department - </strong>Computer Science</p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Session Year - </strong> 2021-2022</p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Credit Points - </strong> 105</p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Date Check1 - </strong> <%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %></p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Date Check2 - </strong> <%= date.getDate() %> <%=date.toLocaleString('default', { month: 'long' }) %> , <%= date.getFullYear() %></p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Date Check3 - </strong> <%= date.getDate() %> <%=date.toLocaleString('default', { month: 'short' }) %> , <%= date.getFullYear() %> at <%=date.getHours()%>:<%=date.getMinutes()%></p>
          <i class="fas fa-graduation-cap fa-lg"></i>
          <i class="fas fa-chalkboard-teacher fa-lg"></i>
          <i class="fas fa-trophy fa-lg"></i>
          <i class="fas fa-info-circle fa-lg"></i></i>
        </div>
      </div>
      <div class="col-lg-6 " >
        <div class="item-container mb-2">
          <strong><p>Leading History</p></strong>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          
          <p><i class="fas fa-home"></i> <strong> Batch Lead - </strong>2 times </p>
          <p><i class="fas fa-graduation-cap"></i><strong> Department Lead - </strong>1 time</p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Academic Group Lead - </strong>No</p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Activity Group Lead/Member - </strong>2</p>
        
        </div>
      </div>
    </div>

    <div class="item-container">
      <strong><p>Activity History</p></strong>
      <hr style="margin-bottom: .25rem;margin-top: 0rem;">
      <h5 class="bolder text-success">Sohag Roy has completed 3 activities as a leader and he has participated other 5 activities as an active member.</h5>
    </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>

<hr>




<%- include('includes/footer') %>