<%- include('includes/header') %>
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <img class="cover-image" style="height: 250px;" src="/images/verification-banner.jpg" width="1000" height="200"/>
      </div>
    </div>
    <hr>
    <h5 class="bolder text-primary text-center">Student's Provided Data</h5>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <div class="item-container mb-2">
          <strong><p>Personal Info</p></strong>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          <p><i class="fas fa-home"></i> <strong> Name - </strong> <span class="text-capitalize"><%=studentData.userName%></span></p>
          <p><i class="fas fa-graduation-cap"></i><strong> Phone No - </strong><%=studentData.phone%></p>
          <p><i class="fas fa-graduation-cap"></i><strong> Gmail Id - </strong><%=studentData.email%></p>
          <p><i class="fas fa-male"></i><strong> Gender - </strong> <%=studentData.gender%></p> 
        </div>
      </div>
      <div class="col-lg-6">
        <div class="item-container mb-2">
          <strong><p>Departmental Info</p></strong>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          <p><i class="fas fa-home"></i> <strong> Reg No - </strong> <%=studentData.regNumber%></p>
          <p><i class="fas fa-home"></i> <strong> Department - </strong> <%=studentData.departmentName%></p>
          <p><i class="fas fa-home"></i> <strong> Session - </strong> <%=studentData.sessionYear%></p>
          <p><i class="fas fa-clock"></i><strong> Joined on - </strong><%= studentData.createdDate.getDate() %> <%=studentData.createdDate.toLocaleString('default', { month: 'long' }) %> , <%= studentData.createdDate.getFullYear() %></p>    
        </div>
      </div>
    </div>
    <hr>
    <%if(studentData.isRejected){%>
      <%if(user.accountType=="admin"){%>
        <form action="/delete/<%=studentData.regNumber%>/account" method="post" class="d-block">
          <h5 class="text-warning"><strong>This account has been rejected.As you are the admin you have the parmission to delete the account parmanently!!</strong></h5>
          <button class="btn btn-block btn-md btn-danger">Delete account parmanently</button>
        </form>
      <%}else{%>
        <div class="btn btn-danger btn-lg btn-block">Account has been rejected!!</div>
      <%}%>
    <%}else if(studentData.isVerified){%>
      <div class="btn btn-success btn-lg btn-block">Account Verified!!</div>
    <%}else{%>
      <div style="display: flex;flex-wrap: wrap;" class>
        <div class="col designed-container" style="padding: 1rem; color: #fff;">
          <p><h5><strong>Verification Type : <%=studentData.verificationType%></strong></h5></p>
          <p>
            <h5>
              <strong>
                Me,<%=user.userName%> as a verifier declaring that all data provided by the user is correct.So I am concedering this account as verified.
              </strong>
            </h5>
          </p>
          <div class="d-block">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <div class="btn btn-block btn-info text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     <strong> Verify Account</strong>
                    </div>
                  </h5>
                </div>
            
                <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <h6><strong class="text-warning">[Get the verification code from the account holder and put it on the belowed field.Verification code is send to <%=studentData.gender=="male"?"his":"her"%> gmail id.]</strong></h6>
                    <form action="/verification/<%=studentData.verificationType%>/<%=studentData.regNumber%>/accept" method="post" >
                      <div class="form-group">
                        <label for="verificationCode-register" class="text-muted"><small>Verification Code </small></label>
                        <input name="verificationCode" id="verificationCode-register" class="form-control form-control-lg " type="number" placeholder="Enter verification code." required autocomplete="off" />
                      </div>
                      <button class="btn btn-block btn-md btn-success">Submit Verification Code</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%if(studentData.verificationType=="case3"){%>
        <hr>
        <div style="display: flex;flex-wrap: wrap;">
          <div class="col designed-container" style="padding: 1rem;color: #fff;">
            <p>
              <h5>
                <strong>
                  Me,<%=user.userName%> as a verifier declaring that all data provided by the user is not correct.So I am rejecting this account.
                </strong>
              </h5>
            </p>


           

            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <div class="btn btn-block btn-danger text-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                     <strong> Reject Account</strong>
                    </div>
                  </h5>
                </div>
            
                <div id="collapseTwo" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <form action="/verification/<%=studentData.verificationType%>/<%=studentData.regNumber%>/reject" method="post" class="d-block">
                      <div class="form-group">
                        <label for="reason" class="text-muted"><small>Rejection Reason </small></label>
                        <input name="reason" id="reason" class="form-control form-control-lg " type="text" placeholder="Give the reason." required autocomplete="off" />
                      </div>
                      <button class="btn btn-block btn-md btn-danger">Rejected</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%}else{%>
        <div >
          <div class="col designed-container" style="padding: 1rem;color: #fff;">
            <p>
              <h5>
                <strong>
                  Only verification type : case3 accounts can be rejected.If you have find anything wrong about this account ,please do nothing with this account.
                </strong>
              </h5>
            </p>
          </div>
        </div>
      <%}%>
    <%}%>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>


<!-- new verification  design till upper section -->

<%- include('includes/footer') %>