<%- include('includes/header') %>
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <img class="cover-image" style="height: 250px;" src="/images/verification-banner.jpg" width="1000" height="200"/>
      </div>
    </div>
    <hr>
    <h5 class="bolder text-primary text-center">Student's Provided Data</h5>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <div class="item-container mb-2">
          <strong><p>Personal Info</p></strong>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          <p><i class="fas fa-home"></i> <strong> Name - </strong> <span class="text-capitalize"><%=studentData.userName%></span></p>
          <p><i class="fas fa-graduation-cap"></i><strong> Phone No - </strong><%=studentData.phone%></p>
          <p><i class="fas fa-graduation-cap"></i><strong> Gmail Id - </strong><%=studentData.email%> (Optional)</p>
          <p><i class="fas fa-male"></i><strong> Gender - </strong> <%=studentData.gender%></p> 
        </div>
      </div>
      <div class="col-lg-6">
        <div class="item-container mb-2">
          <strong><p>Departmental Info</p></strong>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          <p><i class="fas fa-home"></i> <strong> Reg No - </strong> <%=studentData.regNumber%></p>
          <p><i class="fas fa-home"></i> <strong> Department - </strong> <%=studentData.departmentName%></p>
          <p><i class="fas fa-home"></i> <strong> Session - </strong> <%=studentData.departmentName%></p>
          <p><i class="fas fa-clock"></i><strong> Joined on - </strong><%=studentData.createdDate%></p>    
        </div>
      </div>
    </div>
    <hr>
    <%if(studentData.isVerified){%>
      <div class="btn btn-success btn-lg btn-block">Account Verified!!</div>
    <%}else{%>
      <div style="display: flex;flex-wrap: wrap;" class>
        <div class="col path" style="padding: 1rem; color: #fff;">
          <p><h5><strong>Verification Type : <%=studentData.verificationType%></strong></h5></p>
          <p>
            <h5>
              <strong>
                Me,Sohag Roy as a verifier declaring that all data provided by the user is correct.So I am concedering this account as verified.
              </strong>
            </h5>
          </p>
          <div class="d-block">
            <form action="/verification/<%=studentData.verificationType%>/<%=studentData.regNumber%>/accept" method="post" >
              <button class="btn btn-block btn-md btn-success">Verified</button>
            </form>
          </div>
        </div>
      </div>
      <hr>
      <div style="display: flex;flex-wrap: wrap;">
        <div class="col path" style="padding: 1rem;color: #fff;">
          <p>
            <h5>
              <strong>
                Me,Sohag Roy as a verifier declaring that all data provided by the user is not correct.So I am rejecting this account.
              </strong>
            </h5>
          </p>
          <form action="/verification/<%=studentData.verificationType%>/<%=studentData.regNumber%>/reject" method="post" class="d-block">
            <button class="btn btn-block btn-md btn-danger">Rejected</button>
          </form>
        </div>
      </div>
    <%}%>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>


<!-- new verification  design till upper section -->

<%- include('includes/footer') %>