<%- include('includes/header') %> 
<%- include('includes/flash') %>
<%- include('includes/officialUser-header') %> 

    <div class="item-container" >
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOneEditor">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneEditor" aria-expanded="true" aria-controls="collapseOneEditor">
                <strong>Newly Assigned Activities (<%=assignedActivities.newAssigned.length%>)</strong>
              </button>
            </h5>
          </div>
          <div id="collapseOneEditor" class="collapse show" aria-labelledby="headingOneEditor" data-parent="#accordion">
            <div class="card-body">
              <%if(!assignedActivities.newAssigned.length){%>
                <div class="btn btn-block btn-info btn-lg">There is no activity on this status section.</div>
              <%}else{%>
                <%assignedActivities.newAssigned.forEach((activity,index)=>{%>
                  <div class="student-room-container">
                    <h5 class="text-warning text-center"><strong>(<%=index+1%>)</strong></h5>
                    <strong class="d-block">Source : <i><%=activity.sourceName%></i> </strong>
                    <strong class="d-block">Source Id : <i><%=activity.activitySourceId%></i> </strong>
                    <strong class="d-block">Activity Submission Date : <%= activity.submissionDate.getDate() %> <%=activity.submissionDate.toLocaleString('default', { month: 'short' }) %> , <%= activity.submissionDate.getFullYear() %> at <%=activity.submissionDate.getHours()%>:<%=activity.submissionDate.getMinutes()%></strong>
                    <strong class="d-block">Editor Assigned Date : <%= activity.assignedDate.getDate() %> <%=activity.assignedDate.toLocaleString('default', { month: 'short' }) %> , <%= activity.assignedDate.getFullYear() %> at <%=activity.assignedDate.getHours()%>:<%=activity.assignedDate.getMinutes()%></strong>
                    <h6 class="bolder text-warning"><strong>Status : </strong><%=activity.status%></h6>
                    <p><strong>Note : </strong><%=activity.videoEditorNote%></p>
                    <a href="/activity/<%=activity._id%>/details" class="btn btn-block btn-sm btn-info">
                      Go to activity details...
                    </a>
                  </div>
                <%})%>
              <%}%>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwoEditor">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoEditor" aria-expanded="false" aria-controls="collapseTwoEditor">
                <strong>Accepted Activities (<%=assignedActivities.accepted.length%>)</strong> 
              </button>
            </h5>
          </div>
          <div id="collapseTwoEditor" class="collapse" aria-labelledby="headingTwoEditor" data-parent="#accordion">
            <div class="card-body">
              <%if(!assignedActivities.accepted.length){%>
                <div class="btn btn-block btn-info btn-lg">There is no activity on this status section.</div>
              <%}else{%>
                <%assignedActivities.accepted.forEach((activity,index)=>{%>
                  <div class="student-room-container">
                    <h5 class="text-warning text-center"><strong>(<%=index+1%>)</strong></h5>
                    <strong class="d-block">Source : <i><%=activity.sourceName%></i> </strong>
                    <strong class="d-block">Source Id : <i><%=activity.activitySourceId%></i> </strong>
                    <strong class="d-block">Activity Submission Date : <%= activity.submissionDate.getDate() %> <%=activity.submissionDate.toLocaleString('default', { month: 'short' }) %> , <%= activity.submissionDate.getFullYear() %> at <%=activity.submissionDate.getHours()%>:<%=activity.submissionDate.getMinutes()%></strong>
                    <strong class="d-block">Editor Assigned Date : <%= activity.assignedDate.getDate() %> <%=activity.assignedDate.toLocaleString('default', { month: 'short' }) %> , <%= activity.assignedDate.getFullYear() %> at <%=activity.assignedDate.getHours()%>:<%=activity.assignedDate.getMinutes()%></strong>
                    <h6 class="bolder text-warning"><strong>Status : </strong><%=activity.status%></h6>
                    <p><strong>Note : </strong><%=activity.videoEditorNote%></p>
                    <a href="/activity/<%=activity._id%>/details" class="btn btn-block btn-sm btn-info">
                      Go to activity details...
                    </a>
                  </div>
                <%})%>
              <%}%>
            
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThreeEditor">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreeEditor" aria-expanded="false" aria-controls="collapseThreeEditor">
              <strong>Edited Activities (<%=assignedActivities.edited.length%>)</strong>  
              </button>
            </h5>
          </div>
          <div id="collapseThreeEditor" class="collapse" aria-labelledby="headingThreeEditor" data-parent="#accordion">
            <div class="card-body">
              <%if(!assignedActivities.edited.length){%>
                <div class="btn btn-block btn-info btn-lg">There is no activity on this status section.</div>
              <%}else{%>
                <%assignedActivities.edited.forEach((activity,index)=>{%>
                  <div class="student-room-container">
                    <h5 class="text-warning text-center"><strong>(<%=index+1%>)</strong></h5>
                    <strong class="d-block">Source : <i><%=activity.sourceName%></i> </strong>
                    <strong class="d-block">Source Id : <i><%=activity.activitySourceId%></i> </strong>
                    <strong class="d-block">Activity Submission Date : <%= activity.submissionDate.getDate() %> <%=activity.submissionDate.toLocaleString('default', { month: 'short' }) %> , <%= activity.submissionDate.getFullYear() %> at <%=activity.submissionDate.getHours()%>:<%=activity.submissionDate.getMinutes()%></strong>
                    <strong class="d-block">Editor Assigned Date : <%= activity.assignedDate.getDate() %> <%=activity.assignedDate.toLocaleString('default', { month: 'short' }) %> , <%= activity.assignedDate.getFullYear() %> at <%=activity.assignedDate.getHours()%>:<%=activity.assignedDate.getMinutes()%></strong>
                    <h6 class="bolder text-warning"><strong>Status : </strong><%=activity.status%></h6>
                    <p><strong>Note : </strong><%=activity.videoEditorNote%></p>
                    <a href="/activity/<%=activity._id%>/details" class="btn btn-block btn-sm btn-info">
                      Go to activity details...
                    </a>
                  </div>
                <%})%>
              <%}%>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="path text-center text-warning mt-2"   >
      <div class="btn btn-block btn-success"><strong>See All Edited Activities -></strong></div>
    </div>
  <%- include('includes/officialUser-footer') %> 


<!-- New designing page till upper section -->

<%- include('includes/footer') %>