<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <div>
          <img class="cover-image" src="/image/cover/large/cover-<%=profileInfo.regNumber%>" width="1000" height="250"/>
          <%if(checkData.isProfileOwner){%>
          <div style="position: absolute;right: 10px;top: 10px;">
            <h3 type="button" class="text-info" data-toggle="modal" data-target="#coverPicUploadCenter"><i class="fas fa-camera-retro"></i></h3>
            <!-- Modal -->
            <div class="modal fade" id="coverPicUploadCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Upload Cover Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/upload-cover-photo" method="post" enctype="multipart/form-data">
                      <div class="form-group text-left">
                        <label class="form-label" for="customFile">Choose Cover Photo (jpeg/png)</label>
                        <input type="file" name="image" class="form-control" id="customFile" />
                      </div>
                      <div style="text-align: left;">
                        <button class="btn btn-success btn-sm ">Upload</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ----------model ends------- -->
          </div>
          <%}%>
        </div>
        <div class="text-center" >
          <div style="position: relative;display: inline;">
            <img class="profile-image" src="/image/profile/medium/profile-<%=profileInfo.regNumber%>" />
            <%if(checkData.isProfileOwner){%>
            <div style="position: absolute;right: 10px;top: 10px;">
              <h5 type="button" class="text-info" data-toggle="modal" data-target="#profilePicUploadCenter"><i class="fas fa-camera-retro"></i></h5>
              <!-- Modal -->
              <div class="modal fade" id="profilePicUploadCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Upload Profile Picture</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/upload-profile-photo" method="post" enctype="multipart/form-data">
                        <div class="form-group text-left">
                          <label class="form-label" for="customFile">Choose Profile Photo (jpeg/png)</label>
                          <input type="file" name="image" class="form-control" id="customFile" />
                        </div>
                        <div style="text-align: left;">
                          <button class="btn btn-success btn-sm ">Upload</button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ----------model ends------- -->
            </div>
            <%}%>
          </div>
          
          <h5 style="margin-bottom: 0px;">
            <strong>
            <%=profileInfo.userName%>
              <%if(profileInfo.isVerified){%>
                <span class="text-primary" > <i class="fas fa-check-circle"></i> </span>
              <%}else{%>
                <span class="text-danger"> <i class="fas fa-times-circle"></i></span>
              <%}%>
            </strong>
          </h5>
          <strong class="d-block text-center text-warning">Total Credit Points : <%=profileInfo.creditPoints%></strong>
          <span class="bolder text-info">
            <%if(profileInfo.bioStatus){%>
              <span ><%=profileInfo.bioStatus%></span>
            <%}else{%>
              <span >Bio status is not given.</span>
            <%}%>
            
            <%if(checkData.isProfileOwner){%>
              <div>
                <span type="button" class=" text-primary" data-toggle="modal" data-target="#exampleModalCenter">Edit Bio</span>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Edit your bio-status</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/update-bio-status/<%=profileInfo.regNumber%>" method="post">
                        <div class="form-group" style="text-align: left;">
                          <label for="status" class="text-muted" ><small>Edit status </small></label>
                          <input name="bioStatus" value="<%=profileInfo.bioStatus%>" id="status" class="form-control form-control-sm " type="text" placeholder="Write bio-status here" autocomplete="off" />
                        </div>
                        <div style="text-align: left;">
                          <button class="btn btn-success btn-sm ">Submit</button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <%}%>
            </span>
            
        </div>
        
      </div>  
      <hr>
    </div>