<div class="col-lg pt-2 notVisibleOnCollapse" >
  <div class="container" style="padding-left: 0;padding-right: 0;">
    <div>
        <a href="/student/<%=user.regNumber%>/profile">
          <div class="">
          <img class="avatar-small"  src="/image/profile/small/profile-<%=user.regNumber%>" alt="">
          <strong><%=user.userName%></strong>
          </div>
        </a>
          
          <a href="/all-academic-groups">
            <div class="side-item">
              <i class="fas fa-users fa-lg"></i>
              <strong>Academic Groups</strong>
            </div>
          </a>
          <a href="/activities/student/<%=user.regNumber%>">
          <div class="side-item">
            <i class="fas fa-running fa-lg"></i>
            <strong> Your Activities</strong>
          </div>
          </a>
          <a href="/all-activities">
            <div class="side-item">
              <i class="fas fa-address-book fa-lg"></i>
              <strong> See All Activities</strong>
            </div>
          </a>
        
          <a href="/campus-group/student/<%=user.regNumber%>">
            <div class="side-item">
              <i class="fas fa-users fa-lg"></i>
              <strong> Your Campus Groups</strong>
            </div>
          </a>
          <a href="/campus-groups">
            <div class="side-item">
              <i class="fas fa-school fa-lg"></i>
              <strong> All Campus Groups</strong>
            </div>
          </a>
          <a href="/voting-poles/student/<%=user.regNumber%>">
            <div class="side-item">
              <i class="fas fa-chart-line fa-lg"></i>
              <strong> Your Voting Poles</strong>
            </div>
          </a>
      
        <hr>
        <a href="#">
        <div class="side-item">
          <i class="far fa-address-card fa-lg"></i>
          <strong>About Us</strong>
        </div>
      </a>
      <a href="#">
        <div class="side-item">
          <i class="fas fa-address-book fa-lg"></i>
          <strong>Contact Us</strong>
        </div>
      </a>
      <a href="#">
        <div class="side-item">
          <i class="fas fa-question-circle fa-lg"></i>
          <strong>Help</strong>
          
        </div>
      </a>
        <hr>
        <a href="/tutor/<%=user.regNumber%>/details">
          <div class="btn btn-secondary btn-block mt-2">
            <%=user.otherData.isHomeTutor?"Handle Home Tuition Details":"Enroll as home tutor"%>
          </div>
        </a>
        <a href="/search-home-tutor">
          <div class="btn btn-secondary btn-block mt-2">
            <i class="fas fa-search"></i> Search Home-Tutor
          </div>
        </a>
        <hr>
  </div>  
</div>
</div>