<div class="col-lg pt-2 notVisibleOnCollapse" >
  <div class="container" style="padding-left: 0;padding-right: 0;">
    <div>
        <a href="/student/<%=user.regNumber%>/profile">
          <div class="">
          <img class="avatar-small"  src="/image/profile/small/profile-<%=user.regNumber%>" alt="">
          <strong><%=user.userName%></strong>
          </div>
        </a>
          <a href="">
            <div class="side-item">
              <i class="fas fa-users fa-lg"></i>
              <strong>Friends</strong>
            </div>
          </a>
          <a href="">
          <div class="side-item">
            <i class="fas fa-chalkboard-teacher fa-lg"></i>
            <strong>Teachers</strong>
          </div>
          </a>
         <a href="">
            <div class="side-item">
              <i class="fas fa-graduation-cap fa-lg"></i>
              <strong>Students</strong>
            </div>
            </a>
        
        <a href="/batches">
        <div class="side-item">
          <i class="fas fa-school fa-lg"></i>
          <strong>Batches</strong>
        </div>
      </a>
      <a href="/library">
        <div class="side-item">
          <i class="fas fa-address-book fa-lg"></i>
          <strong>Notes</strong>
        </div>
      </a>
      
        <hr>
        <a href="#">
        <div class="side-item">
          <i class="far fa-address-card fa-lg"></i>
          <strong>About Us</strong>
        </div>
      </a>
      <a href="#">
        <div class="side-item">
          <i class="fas fa-address-book fa-lg"></i>
          <strong>Contact Us</strong>
        </div>
      </a>
      <a href="#">
        <div class="side-item">
          <i class="fas fa-question-circle fa-lg"></i>
          <strong>Help</strong>
        </div>
      </a>
        <hr>
        <a href="/tutor/<%=user.regNumber%>/details">
          <div class="btn btn-secondary btn-block mt-2">
            <%=user.otherData.isHomeTutor?"Handle Home Tuition Details":"Enroll as home tutor"%>
          </div>
        </a>
        <hr>
  </div>  
</div>
</div>